.UiInputWithSubmit
  display: flex
  flex-wrap: wrap
  label
    width: 100%
    font-size: 12px
    margin-bottom: 9px
  input
    flex: 1
    border: 1px solid #F1F1F1
    background: #FFF
    border-radius: 100px 0 0 100px
    margin-right: -40px
    padding-right: 50px
  &.--small
    input
      font-size: 13px
      padding-left: 12px
  &.--large
    input
      font-size: 16px
      padding-left: 18px
