@import face-card
@import face-card-types

.face-card-block
    width: 100%
    padding-top: 10px
    background: #578BF8
    &__wrap
        display: flex
        align-items: flex-end
        justify-content: space-between
        width: calc(100% + 30px)
        margin-left: -15px
        margin-right: -15px
        
    +max-screen(840px)
        padding-top: 0
        &__wrap
            flex-wrap: wrap
            width: calc(100% + 40px)
            height: auto !important
            margin-left: -20px
            margin-right: -20px

    +max-screen(640px)
        &__wrap
            width: calc(100% + 30px)
            margin-left: -15px
            margin-right: -15px


.face-card-list
    position: absolute
    bottom: 0
    right: 20px
    width: 350px
    height: calc(100% + 10px)
    padding: 10px 0 0
    overflow: auto
    @extend %no-scrollbar
    +max-screen(840px)
        position: static
        display: flex
        overflow: auto
        width: 100%
        height: auto
        padding: 10px