.face-card
    position: relative
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    margin-left: 15px
    margin-right: 15px

.face-card ._bookingBtn
    position: absolute
    top: 20px
    right: 20px
    z-index: 10
    display: flex
    align-items: center
    justify-content: center
    padding: 10px 20px
    font-size: 16px
    color: #fff
    background-color: $green
    border-radius: 6px

.face-card ._avatar
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 256px
    min-height: 256px
    max-width: 100%
    background: #fff
    border-radius: 20px
    overflow: hidden
    margin-bottom: 10px
    &__img
        display: block
        width: 100%
    &__geo
        cursor: pointer
        position: absolute
        bottom: 7px
        left: 50%
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 308px
        width: calc(100% - 14px)
        transform: translateX(-50%)
        padding: 6px
        padding-left: 17px
        background: rgba(42, 45, 56, 0.8)
        border-radius: 8px
        img
            max-width: 52px
            max-height: 52px
            border-radius: 6px
    &__geoTit
        font-size: 14px
        line-height: 16px
        color: #fff
        width: 200px
        max-width: calc(100% - 70px)

.face-card ._slider
    position: relative
    z-index: 1
    width: 100%
    height: 303px
    min-height: 303px
    margin-bottom: -40px
    user-select: none
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    overflow: hidden
    &__list
        position: relative
        z-index: 2
        display: flex
        height: 100%
        transition: 0.3s
    &__item
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        min-width: 100%
        height: 100%
        overflow: hidden
        img
            min-width: 100%
            width: max-content
    &__arr
        position: absolute
        z-index: 3
        top: 20px
        display: flex
        align-items: center
        justify-content: center
        width: 30px
        height: 30px
        background-color: #fff
        border-radius: 10em
        cursor: pointer
        svg
            width: 8px
        path
            fill: #A5A7AE
        &:hover
            opacity: 0.8
        &.--prev
            left: 20px
        &.--next
            left: 60px

.face-card ._container
    position: relative
    z-index: 2
    display: flex
    flex-direction: column
    height: 100%
    background: #FFFFFF
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    &.--avatar
        ._text
            box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.1)
            border-top-left-radius: 20px
            border-top-right-radius: 20px
            position: relative
            padding-left: 210px
            z-index: 3
            &__tit
                position: absolute
                bottom: 100%
                left: 210px
                width: calc(100% - #{210px + 25px})
                font-size: 24px
                line-height: 29px
                margin-bottom: 10px
        &:before
            content: ''
            position: absolute
            z-index: 1
            bottom: calc(100% - 40px)
            left: 0
            background: linear-gradient(to top, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%)
            width: 100%
            height: 200px
    &.--geo
        height: min-content
        ._geo
            position: absolute
            top: 0
            left: 0
            z-index: 2
            width: 100%
            height: 100%
            background-color: #aaa
            border-radius: 20px
            overflow: hidden
            &__toggle
                position: absolute
                z-index: 2
                bottom: 120px
                right: 10px
                display: flex
                align-items: center
                justify-content: center
                width: 99px
                height: 28px
                background: #2A83FB
                border-radius: 6px
                font-size: 12px
                text-align: center
                color: #FFFFFF
                user-select: none
                cursor: pointer
            .static-map
                cursor: pointer
                float: right
        ._text
            position: relative
            max-width: calc(100% - 110px)
            z-index: 3
            margin-bottom: 235px !important
            background: linear-gradient(to right, white 1%, white 70%, rgba(255, 255, 255, 0) 100%)
            box-shadow: none
            transition: 0.3s
        .iconList__tit
            display: none
        .iconList__scroll
            position: relative
            z-index: 3
            background-color: #fff

        &.--geoHide
            ._text
                margin-bottom: 0 !important

.face-card ._text
    display: block
    padding: 25px
    margin-bottom: auto
    &__avatar
        position: absolute
        left: 25px
        top: -80px
        display: flex
        align-items: center
        justify-content: center
        width: 160px
        height: 160px
        border: 1px solid #DADADA
        border-radius: 10em
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        background-color: #fff
    &__tit
        font-size: 18px
        line-height: 22px
        font-weight: 900
        color: $darkBlue
        margin-bottom: 13px
        span.--name
            font-weight: normal
            color: #A5A7AE
            text-transform: capitalize
    &__reviews
        display: flex
        align-items: center
        margin-bottom: 15px
        a, span
            &.--link
                margin-left: 15px
                font-size: 12px
                line-height: 16px
                font-weight: 300
                color: #A5A7AE
                border-bottom: 1px solid rgba(#A5A7AE, 0.5)
    &__options
        display: flex
        flex-wrap: wrap
        li
            display: flex
            align-items: center
            font-size: 14px
            font-weight: 500
            margin-right: 20px
            margin-bottom: 10px
            &.--fill
                width: 100%
                margin-right: 0
            &:last-child
                margin-right: 0
            span
                font-size: 12px
                font-weight: 300
                color: #A5A7AE
                margin-right: 5px

