.face-card
  &.--small
    max-width: 295px
    .iconList
      &__list
        li
          min-width: calc(100% / 4)
      &__name
        display: none

  &.--large
    max-width: calc(100% - 355px)
    .iconList__list
      li
        min-width: calc(100% / 6)
    ._text
      padding-bottom: 5px
      &__tit
        font-size: 24px
        margin-bottom: 10px
        span.--name
          font-size: 18px
  &.--avatar
    max-width: calc(100% - 405px)
    ._text
      display: block
      padding-top: 10px
      padding-bottom: 0
      margin-bottom: -20px
      min-height: 110px
      &__options
        li
          width: 100%
          margin-right: 0
          margin-bottom: 15px
    .iconList
      &__tit
        min-height: 14px
      &__list
        li
          min-width: calc(100% / 6)
          margin-bottom: 0 !important

  &.--list
    position: relative
    display: flex
    height: auto
    background-color: #fff
    border-radius: 20px
    overflow: hidden
    margin: 0
    margin-bottom: 10px
    user-select: none
    ._btn
      position: absolute
      bottom: 20px
      right: 25%
      display: flex
      align-items: center
      justify-content: center
      min-width: 70px
      min-height: 30px
      padding: 12px
      transform: translateX(50%)
      background: $green
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2)
      border-radius: 6px
      font-size: 12px
      color: #fff
      cursor: pointer
    ._avatar
      position: absolute
      top: 0
      right: 0
      display: flex
      align-items: center
      justify-content: center
      width: 50%
      height: 100%
      margin: 0
      border-radius: 0
      img
        display: block
        min-height: 100%
    ._container
      width: 50%
      border-radius: 0
    ._text
      padding: 15px 20px
      &__avatar,
      &__reviews
        display: none
      &__tit
        font-size: 12px
        line-height: 14px
        margin-bottom: 15px
      &__options
        display: block
        li
          display: block
          width: 100%
          font-size: 11px
          color: #A5A7AE
          span
            display: block
            width: 100% !important
            margin: 0
            font-size: 11px
            color: $darkBlue
    .iconList
      &__tit
        font-size: 12px
        margin-bottom: 5px
        padding-left: 20px !important
        padding-right: 20px !important
      &__scroll
        height: auto
      &__list
        padding-top: 15px
        li
          min-width: calc(100% / 4)
          margin-bottom: 15px
        img
          max-width: 13px
          max-height: 13px
      &__arr
        svg
          width: 5px

  +max-screen(840px)
    &.--small
      max-width: 100% !important
      position: relative
      display: flex
      flex-direction: row
      margin: 0
      margin-bottom: 10px
      background: #fff
      ._avatar
        width: max-content
        height: max-content
        min-height: auto
        max-width: 120px
        margin: 0
        border-radius: 0
        order: 2
        &__img
          max-height: 100px
        &__geo
          display: none
      ._container
        display: flex
        // align-items: center
        width: 100%
        height: auto
        border-radius: 0
      ._text
        padding: 15px
        &__tit
          font-size: 14px
          margin-bottom: 0
        &__reviews
          margin-bottom: 0
        &__options
          display: none
      .iconList
        display: none

    &.--avatar
      ._slider
        border-radius: 0
    &.--avatar,
    &.--large
      margin: 0
      max-width: 100% !important

    &.--list
      min-width: 350px
      height: 100px
      margin: 10px
      border-radius: 4px
      ._container
        position: relative
        width: auto
        display: flex
        align-items: center
        &:after
          content: ''
          position: absolute
          left: 100%
          top: 0
          display: block
          width: 50px
          height: 100%
          background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%)
      ._text
        padding: 10px 20px
        padding-right: 5px
        &__tit
          margin-bottom: 0
          .--name
            display: none
        &__reviews
          display: block
          margin-bottom: 0
          .--link
            margin-left: 0
        &__options
          display: none
      .iconList
        display: none
      ._avatar
        align-items: flex-start
        width: min-content
        margin-left: auto
        img
          display: block
          width: 170px
      ._btn
        z-index: 2
        right: 10px
        bottom: 10px
        transform: none

  +max-screen(640px)
    &.--avatar,
    &.--large
      ._slider
        &__item
          img
            min-width: auto
            width: auto
      .iconList__list
        li
          min-width: calc(100% / 4)
    &.--avatar
      ._container
        ._text
          padding-left: 20px
          padding-top: 50px
          margin-bottom: 10px
          &__avatar
            top: -40px
            left: 20px
            width: 82px
            height: 82px
          &__tit
            left: 115px
            font-size: 14px
            line-height: 16px
            width: calc(100% - 130px)
