.eventGrid
    display: flex
    flex-direction: column
    flex-wrap: wrap
    &__wrap
        display: flex
        flex-wrap: wrap
        width: calc(100% + 20px)
        margin-left: -10px
        margin-right: -10px
        .eventCard,
        .eventCardMore
            width: calc(50% - 20px)
            margin-left: 10px
            margin-right: 10px
            margin-bottom: 20px
    &__dots
        display: none
        justify-content: center
        align-items: center
        width: 100%
        padding: 0 0 10px
        i
            display: block
            width: 6px
            height: 6px
            background-color: #A5A7AE
            border-radius: 10em
            margin: 3px
            &.act
                background-color: #F7931E


    +min-screen(740px)
        .eventGrid__wrap
            transform: none !important
            transition: none !important
        &.--mobileSwipe
            .eventCardMore,
            .eventGrid__dots
                display: none

    +max-screen(740px)
        &__wrap
            width: 100%
            margin-left: 0
            margin-right: 0
            .eventCard,
            .eventCardMore
                width: 100%
                margin-left: 0
                margin-right: 0
        &.--mobileSwipe
            .eventGrid__wrap
                display: inline-flex
                width: auto
                flex-wrap: nowrap
                transition: 0.3s
            .eventCardMore,
            .eventGrid__dots
                display: flex
            .eventCard,
            .eventCardMore
                width: calc(100vw - 50px)
                margin-left: 0
                margin-right: 30px
                user-select: none

    +max-screen(640px)
        &.--mobileSwipe
            .eventCard,
            .eventCardMore
                width: calc(100vw - 30px)
                margin-right: 20px
