.filter
    position: relative 
    z-index: 2
    display: flex
    justify-content: flex-end
    padding: 20px 0
    &__icon
        display: flex
        align-items: center
        justify-content: center
        path
            fill: $blue
    &__search
        display: flex
        align-items: flex-end
        input
            border-bottom: 1px solid $blue
            width: 130px
            transition: 0.3s
        .filter__icon
            margin-left: 10px
            cursor: pointer
            transition: 0.3s
        &.--hide
            input
                width: 0
                opacity: 0
                visibility: hidden
            .filter__icon
                margin-left: 0
    &__select
        margin-left: 25px

    +max-screen(640px)
        width: 100%
        flex-wrap: wrap
        &__select
            margin-top: 10px

    &.--dark
        .filter
            &__icon
                path
                    fill: $darkBlue
            &__select
                input
                    border-color: $darkBlue