.footer
    position: relative
    z-index: 100
    width: 100%
    padding: 45px 0
    background-color: $darkBlue
    color: #797E8E
    font-size: 12px
    line-height: 15px
    &__wrap
        @extend .wrap
        display: flex
        align-items: center
        justify-content: space-between
    a
        font-weight: 500
        text-decoration: underline
        color: #cbcbcb
    &__logo
        margin-right: 22px
        img
            margin-bottom: -5px
    &__nav
        margin-right: auto
    &__copy
        max-width: 390px
        text-align: right

    +max-screen(640px)
        padding: 15px 0 20px
        &__wrap
            flex-wrap: wrap
            justify-content: center
        &__logo,
        &__nav
            display: flex
            align-items: center
            justify-content: center
            width: 50%
            height: 42px
            margin: 0
        &__nav
            position: relative
            font-size: 14px
            &:after
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 1px
                height: 100%
                background-color: #E1E1E1
        &__copy
            width: 100%
            margin-top: 15px
            text-align: center
