$formRowPad: 12px

.formWrap
  width: 100%
  &__tit
    display: block
    margin-bottom: 12px
    font-size: 12px
    font-weight: normal
    line-height: 14px
    text-transform: uppercase
    color: #8A8F9D

  &.--popup
    max-width: 390px

  &.--col
    .formWrap__body
      display: flex
      flex-wrap: wrap
      width: calc(100% + #{$formRowPad})
      margin-left: -#{$formRowPad / 2}
      margin-right: -#{$formRowPad / 2}
    .formRow
      margin: #{$formRowPad / 2}

  &.--filter
    padding: 20px
    background-color: #F7F7F7
    border-radius: 6px
    border: 1px solid #E7E7E7
    .formWrap__tit
      font-size: 18px
      text-transform: none

  &.playg-profile-create-form
    margin-top: 40px
    margin-bottom: 100px

.formRow
  margin-bottom: 12px
  &:last-child
    margin-bottom: 0
  &__tit
    @extend .formWrap__tit
  &__body
    display: flex
  &__item
    width: 100%
    padding: 13px
    padding-bottom: 5px
    background: #FFFFFF
    border: 1px solid #E7E7E7
    border-right: none
    &:first-child
      border-top-left-radius: 6px
      border-bottom-left-radius: 6px
    &:last-child
      border-right: 1px solid #E7E7E7
      border-top-right-radius: 6px
      border-bottom-right-radius: 6px
  &.--auto
    width: min-content
  &.--col1
    width: calc(100% / 12 * 1 - #{$formRowPad})
  &.--col2
    width: calc(100% / 12 * 2 - #{$formRowPad})
  &.--col3
    width: calc(100% / 12 * 3 - #{$formRowPad})
  &.--col4
    width: calc(100% / 12 * 4 - #{$formRowPad})
  &.--col5
    width: calc(100% / 12 * 5 - #{$formRowPad})
  &.--col6
    width: calc(100% / 12 * 6 - #{$formRowPad})
  &.--col7
    width: calc(100% / 12 * 7 - #{$formRowPad})
  &.--col8
    width: calc(100% / 12 * 8 - #{$formRowPad})
  &.--col9
    width: calc(100% / 12 * 9 - #{$formRowPad})
  &.--col10
    width: calc(100% / 12 * 10 - #{$formRowPad})
  &.--col11
    width: calc(100% / 12 * 11 - #{$formRowPad})
  &.--col12
    width: calc(100% - #{$formRowPad})
  +max-screen(640px)
    &.--col2,
    &.--col3,
    &.--col4,
    &.--col5,
    &.--col6,
    &.--col7,
    &.--col8,
    &.--col9,
    &.--col10,
    &.--col11,
    &.--col12
      width: calc(100% - 20px)

.formField
  &__tit
    display: flex
    align-items: center
    font-size: 12px
    line-height: normal
    color: #797E8E
    margin-bottom: 4px
    &.--error
      color: $red
    i
      display: flex
      align-items: center
      justify-content: center
      width: 16px
      height: 16px
      border-radius: 10em
      background-color: #EAEAEA
      font-size: 12px
      font-weight: 500
      font-style: normal
      color: rgba(65, 70, 88, 0.6)
      margin: 0 7px
      cursor: default
  &__body
    input, textarea, select
      width: 100%
      height: 22px
      font-size: 16px
      font-weight: 500
      line-height: 19px
      color: #414658

.formBtns
  display: flex
  width: calc(100% + 16px)
  margin-left: -8px
  margin-right: -8px
  margin-top: 12px
  &__item
    width: 100%
    margin: 8px
    border-radius: 6px
    overflow: hidden
    a,span,button
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 48px
      padding: 10px
      font-size: 12px !important
      line-height: 15px !important
      font-weight: 500
      text-align: center
      text-transform: uppercase
      color: #414658
      background-color: #E7E7E7
      cursor: pointer
      user-select: none
      transition: 0.3s
      &:hover
        opacity: 0.7
      &.--darkBlue
        background-color: $darkBlue
        color: $white

