.hdr
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    height: auto
    background: #414658
    color: #fff
    z-index: 100
    box-shadow: 0px 10px 17px rgba(32, 39, 59, 0.13)
    &__wrap
        @extend .wrap
        width: 100%
        height: auto
        display: flex
        flex-wrap: wrap
        align-items: center
    &__logoWrap
        display: flex
        align-items: center
        justify-content: space-between
        height: 40px
    &__logo
        display: block
        width: 122px
        height: 30px
        background: url(/assets/images/logo.svg) no-repeat center
        background-size: cover
        // background-color: #fff
        margin-right: 32px
    // &__city
    &__authStatus,
    &__authAction
        margin-left: auto
        display: flex
        align-items: center
        height: 40px
    &__avatar
        display: flex
        align-items: center
        justify-content: center
        width: 24px
        height: 24px
        border-radius: 10em
        background-color: #fff
        margin-left: 15px
        overflow: hidden
        cursor: pointer
        img
            max-width: 100%
    &__btnWrap
        position: relative
    &__link,
    &__btn
        @extend .btn
        &--darkBlue
            @extend .btn--darkBlue
        &--red
            @extend .btn--red
        &--green
            @extend .btn--green
        &--orange
            @extend .btn--orange   
        position: relative
        display: flex
        align-items: center
        justify-content: center
        height: 40px
        padding: 0 20px
        font-size: 14px
        text-align: center
    &__link
        padding: 0
        color: $white
        span:after
            background-color: $white
    &__authNav
        ._authNavLink
            display: block
            width: 100%

    +max-screen(640px)    
        &__logoWrap
            width: 100%
        &__authStatus
            .hdr__authNav
                margin-right: -15px
                margin-top: 10px
                span, i 
                    display: none
                ul span
                    display: block
        &__authAction
            width: calc(100% + #{$padd-xs * 2})
            margin-left: -$padd-xs
            margin-right: -$padd-xs
            a
                width: 100%
        ul //Select fix
            left: auto !important
            right: 0 !important

        &--authAction
            .hdr__logoWrap
                height: 80px
                flex-wrap: wrap
            .hdr__city
                display: flex
                align-items: center
                justify-content: flex-end
                width: calc(100% + 30px)
                height: 40px
                margin: 0 -15px
                padding: 0 15px
                border-top: 1px solid rgba(255, 255, 255, 0.12)
        &--authStatus
            .hdr__logoWrap
                width: auto
            .hdr__city
                display: none

