.loader
    position: relative
    width: 100%
    height: 100%

    &__body
        transition: 0.3s

    &__img
        position: absolute
        z-index: 3
        top: calc(50% - 50px)
        left: 0
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        transition: 0.3s
        img
            width: 100px
            height: 100px

        &.--hide
            opacity: 0
            visibility: hidden
            & + .loader__body
                opacity: 1
        &.--show
            opacity: 1
            visibility: visible
            & + .loader__body
                height: 100%
                opacity: 0.1
        &.--auto-height
            height: 100% !important
            top: 0

    &.--auto-height
        display: flex
        flex-direction: column
        height: auto

        .loader__img
            height: auto !important
            position: relative
        .loader__img
            &.--hide
                display: none
    &.--cards-loading
        display: flex
        flex-direction: column
        height: auto
        min-height: 100px

        .loader__img
            top: 0px
            height: auto !important
        .loader__img
            &.--hide
                display: none
