.mobilePopup
  width: 100%
  &__line
    position: relative
    display: flex
    align-items: center
    width: 100%
    height: 52px
    margin-bottom: 20px
    overflow: hidden
  &__body
    width: 100%
    height: 100%
  &__arr
    position: absolute
    top: 15px
    right: 16px
    transform: rotate(180deg)
  &__cross
    position: absolute
    z-index: 20
    top: 24px
    right: 23px
    cursor: pointer
    opacity: 0
    visibility: hidden

  +min-screen($profileBreakePoint)
    &__line,
    &__arr,
    &__cross
      display: none


  +max-screen($profileBreakePoint)
    position: fixed
    bottom: 0
    transform: translateY(calc(100% - 85px))
    left: 0
    z-index: 1000
    padding: 16px 20px
    background: #fff

    &--chat
      padding: 0
      .mobilePopup__line
        padding: 0 20px
        height: 85px
      .mobilePopup__arr
        top: 30px
      .mobilePopup__cross
        top: 19px

    &._hide
      height: 85px
      box-shadow: 0px -4px 14px rgba(0, 0, 0, 0.25)
      cursor: pointer
      animation: mobilePopupHide 0s forwards

    &._show
      overflow: auto
      animation: mobilePopupShow 0s forwards
      .mobilePopup__line
        height: 0
        margin-bottom: 0
      .mobilePopup__cross
        opacity: 1
        visibility: visible

    &._anim
      animation-duration: 1s !important
      &._hide
        .mobilePopup__line
          transition: 0s all 0.7s
      &._show
        .mobilePopup__line,
        .mobilePopup__cross
          transition: 0s all 0.3s


@keyframes mobilePopupShow
  0%
    transform: translateY(calc(100% - 85px))
    height: 85px
  30%
    transform: translateY(100%)
    height: 85px
  31%
    transform: translateY(100%)
    height: 100%
  100%
    transform: translateY(0)
    height: 100%

@keyframes mobilePopupHide
  0%
    transform: translateY(0)
    height: 100%
  70%
    transform: translateY(105%)
    height: 100%
  71%
    transform: translateY(105%)
    height: 85px
  100%
    transform: translateY(calc(100% - 85px))
    height: 85px


.popupLine
  display: flex
  align-items: center
  width: 100%
  &__img
    display: flex
    align-items: center
    justify-content: center
    width: 52px
    height: 52px
    border-radius: 10em
    overflow: hidden
    margin-right: 16px
    img
      max-width: 100%
  &__tit
    font-size: 16px
    font-weight: 500
    line-height: 20px
  &__subtit
    font-size: 12px
    color: #6F7478
  &__status
    margin-top: 5px
    font-size: 12px
    color: #6F7478
    span
      border-bottom: 1px solid rgba(#6F7478, 0.5)
        
