.page
	position: relative
	z-index: 1
	overflow: hidden
	width: 100%
	min-height: 100vh
	&__body
		width: 100%
		min-height: 100vh
		padding-top: 40px

+max-screen(640px)
	.hdr--authAction + .page__body
		padding-top: 80px

.wrap
	position: relative
	margin: 0 auto
	max-width: $maxW
	width: 100%
	padding-left: $padd
	padding-right: $padd

	+max-screen(640px)
		padding-left: $padd-xs
		padding-right: $padd-xs
	// 	padding-right: $wrapperSS-padd
	// 	padding-left: $wrapperSS-padd

// .wrap-inner
//     display: block
//     width: auto
//     margin-left: -$wrapperM-padd
//     margin-right: -$wrapperM-padd

//     +max-screen($screenSL)
//         margin-left: -$wrapperS-padd
//         margin-right: -$wrapperS-padd

//     +max-screen($screenSS)
//         margin-left: -$wrapperSS-padd
//         margin-right: -$wrapperSS-padd
