.popup
    position: fixed
    top: 0
    left: 0
    z-index: 1000
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    transition: 0.3s
    .loader
        &__img
            height: auto !important
    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.55)
        user-select: none
    &__content
        position: relative
        width: 100%
        height: max-content
        max-width: 750px
        max-height: 90vh
        background-color: #fff
        border-radius: 10px
        padding: 42px 38px
    &__cross
        position: absolute
        top: 32px
        right: 19px
        user-select: none
        cursor: pointer
        svg
            width: 16px
            height: 16px
            path
                fill: $darkBlue

    &.--hide
        opacity: 0
        visibility: hidden

    +max-screen(640px)
        &__content
            height: 100%
            max-height: 100%
            padding: 20px 15px
            border-radius: 0
        &__cross
            top: 8px
            right: 8px
