.section
    width: 100%
    margin-bottom: 15px
    &__wrap
        @extend .wrap
        padding-top: 15px
        padding-bottom: 15px
        hr
            border: none
            border-bottom: 1px solid #E1E1E1
    &__title
        display: block
        width: 100%
        padding: 15px 0
        font-size: 12px
        letter-spacing: 0.06em
        text-transform: uppercase
        color: #8A8F9D
    &__header
        display: flex
        align-items: center
        +max-screen(640px)
            flex-wrap: wrap
            .filter--last
                margin-left: auto
    &__tabs
        display: flex
        flex-wrap: wrap
        width: calc(100% + 7px)
        margin-left: -3.5px
        margin-right: -3.5px

    &.--blue
        background-color: #578BF8
    &.--last
        margin-bottom: 0
    &.--land
        margin-bottom: 40px
    &--border
        .section__wrap
            padding-bottom: 0
        .section__content
            padding-bottom: 30px
            border-bottom: 1px solid rgba(196, 196, 196, 0.6)
    &--dates
        min-height: 46px
    &--times
        min-height: 55px
    &--cards
        min-height: 375px
    &.--noPad
        .section__wrap
            padding: 0
    &.--rplScroll
        .section__content
            overflow: auto
            margin-left: -15px
            margin-right: -15px
            padding-bottom: 15px
            @extend %default-scrollbar
        .rpl
            width: max-content
            padding-left: 15px
            padding-right: 15px
            margin-left: auto
            margin-right: auto
