// ----------------------------------------------------------------------
// Font variables
// ----------------------------------------------------------------------

$baseFont: 'Proxima Nova', Arial, sans-serif;
$titleFont:  Arial, sans-serif;

// ----------------------------------------------------------------------
// Animation speed
// ----------------------------------------------------------------------
$t150: 150ms;
$t300: 300ms;
$t600: 600ms;

// ----------------------------------------------------------------------
// Layout sizes
// ----------------------------------------------------------------------

$padd: 20px;
$content: 1024px;
$maxW: $content + ($padd * 2);
$minW: 320px;

$padd-xs: 15px;

$profileBreakePoint: 940px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------


$green: #27AE60;
$greenLight: #3EC376;
$red: #EB5757;
$darkBlue: #414658;
$orange: #F68623;
$blue: #2A83FB;
$white: #fff;
$yellow: #D3EF30;
$gray: #A5A7AE;
$purple: #9B51E0;

$fontColor: $darkBlue;
$bodyColor: $white;

$fontLight: $white;
$fontDark: $darkBlue;
