.btn
    font: inherit
    color: inherit
    user-select: none
    cursor: pointer
    &--gray
        background-color: $gray
        color: $fontLight
        span::after
            background-color: $fontLight !important
    &--blue
        background-color: $blue
        color: $fontLight
        span::after
            background-color: $fontLight !important
    &--darkBlue
        background-color: $darkBlue
        color: $fontLight
        span::after
            background-color: $fontLight !important
    &--red
        background-color: $red
        color: $fontLight
        span::after
            background-color: $fontLight !important

    &--green
        background-color: $green
        color: $fontLight
        span::after
            background-color: $fontLight !important

    &--orange 
        background-color: $orange
        color: $fontLight
        span::after
            background-color: $fontLight !important

    span
        position: relative
        font: inherit
        color: inherit
        &:after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            display: block
            width: 0
            height: 1px
            background-color: $fontDark
            transition: 0.3s width

    &:hover
        span::after
            width: 100%