._stroke
    path
        stroke-width: 1px

.bg-gplus
    background-color: #DC4E41
.bg-facebook
    background-color: #3B5998
.bg-odnoklassniki
    background-color: #F7931E
.bg-mailru
    background-color: #2A83FB
.bg-vkontakte
    background-color: #54769B
.bg-instagram
    background: url(assets/images/instagram-bg-gradient.png) center no-repeat
    background-size: cover
