%label_wrap_disable
  background-color: transparent !important
  border: 1px solid #D3D6D7
  .label__icon
    border-color: #D3D6D7 !important
  h5, p
    opacity: 0.5

%label_wrap_active
  background-color: #2A83FB !important
  color: #fff !important
  border: none !important
  .label__icon
    path
      fill: #fff !important
    &.--calendar
      path
        fill: none !important
        stroke: #fff !important
  &:hover
    text-shadow: 0 0 5px rgba(255,255,255,0.9)

%label_wrap_animation
  background-color: #2A83FB !important
  background-image: url(/assets/images/label-animate-bg.svg)
  background-repeat-x: repeat
  background-repeat-y: no-repeat
  background-position-x: 0
  background-size: 108px 100%
  animation-duration: 4s
  animation-name: labelAnimate
  animation-iteration-count: infinite
  animation-timing-function: linear
  color: #fff !important
  border: none !important
  .label__icon
    path
      fill: #fff !important
    &.--calendar
      path
        fill: none !important
        stroke: #fff !important
  h5, p
    opacity: 1 !important
  &:hover
    text-shadow: 0 0 5px rgba(255,255,255,0.9)

%label_wrap_normal
  background: #F6F6F6 !important
  color: $darkBlue !important
  border: 1px solid #fff !important

.label
  position: relative
  width: auto
  height: min-content
  margin: 3px
  color: #414658
  user-select: none
  cursor: pointer
  h5
    font-size: 14px
    font-weight: 500
    color: inherit
  p
    font-size: 12px
    font-weight: 300
    color: inherit
    padding-top: 3px
    i
      display: block
      text-align: center
      color: #8A8F9D

  &__url
    position: absolute
    top: 0
    left: 0
    z-index: 5
    width: 100%
    height: 100%
  &__wrap
    position: relative
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: flex-start
    width: 108px
    min-height: 40px
    padding: 10px
    background: #F6F6F6
    border-radius: 6px
    color: inherit
    transition: 0.3s
    &:hover
      box-shadow: 0px 2px 6px rgba(30,42,79,0.1), 0px -1px 6px rgba(30,42,79,0.2)
    &.--disable
      @extend %label_wrap_disable
    &.--active
      @extend %label_wrap_active
    &.--animation
      @extend %label_wrap_animation
    &.--normal
      @extend %label_wrap_normal
  &__icon
    position: absolute
    top: -1px
    right: -1px
    display: flex
    align-items: center
    justify-content: center
    width: 42px
    height: calc(100% + 2px)
    border: 1px solid #fff
    border-radius: 6px
    path
      fill: #414658
    &.--calendar
      path
        fill: none !important

  &.--textCenter
    .label__wrap
      justify-content: center
  &.--calendar
    .label-calendar
      margin: -14px
      &__icon
        svg
          width: 14px
          height: 18px
    h5 + .label-calendar,
    p + .label-calendar
      margin-left: 15px
      .label-calendar__icon
        top: 0px
        left: -3px
        width: 42px
        height: 100%
        border-radius: 6px
        border: 1px solid #fff
    .label__wrap
      width: auto
  &.--icon
    .label__wrap
      width: auto
      padding-right: 55px
  &.--smallTime
    .label__wrap
      display: flex
      align-items: center
      justify-content: center
      width: 90px
      height: 30px
      min-height: 30px
      padding: 0
      text-align: center
      white-space: pre
      h5
        font-size: 12px
  &.--noneTitle
    .label__wrap
      width: 40px !important
      padding: 0 !important
    .label__icon
      border: none

  &.--disable
    .label__wrap
      @extend %label_wrap_disable
  &.--active
    .label__wrap
      @extend %label_wrap_active
  &.--animation
    .label__wrap
      @extend %label_wrap_animation
  &.--normal
    .label__wrap
      @extend %label_wrap_normal

@keyframes labelAnimate
  from
    background-position-x: 0
  to
    background-position-x: 108px

.label-calendar
  .dp-popup
    position: absolute
    top: calc(100% + 10px)
    left: 0
    z-index: 100
    &:after
      left: 12px

.label-time
  .tp-popup
    position: absolute
    top: calc(100% + 10px)
    left: 0
    z-index: 100
    &:after
      left: 12px
