[class*="-copyrights-pane"]
  display: none !important

[class*="-balloon"]
  box-shadow: none !important

[class$="-balloon__layout"]
  overflow: visible !important

[class$="-balloon__layout"]
  position: relative !important
  background: transparent !important

[class*="-balloon__content"]
  padding: 0 !important
  margin: 0 !important
  background: transparent !important
  .cardPlayground
    ._image
      img
        width: 100%
  .card-list__item
    margin: 0 !important

[class$="-balloon__close"]
  position: absolute !important
  top: -10px !important
  right: -10px !important
  display: flex !important
  align-items: center !important
  justify-content: center !important
  width: 20px !important
  height: 20px !important
  margin: 0 !important
  background-color: #fff !important
  border-radius: 10em

[class$="-balloon__close"]
  border: 1px solid rgba(18, 18, 18, 0.3)
  transition: 0.3s
  cursor: pointer

[class$="-balloon__close"]:hover
  border: 1px solid rgba(18, 18, 18, 1)
  [class$="balloon__close-button"]
    opacity: 1 !important


[class$="balloon__close-button"]
  width: 50% !important
  height: 50% !important
  transition: 0.3s

[class*="b-cluster-tabs__item-header"],
[class*="b-cluster-tabs__item-footer"]
  display: none !important

[class$="b-cluster-content"]
  height: auto !important
  padding: 0 !important
  background-color: #fff
  border: 1px solid #D3D6D7 !important

[class*="b-cluster-tabs__item-body"]
  padding: 0 !important
  margin: 0 !important
  .cardGame
    border: none
    border-left: 1px solid #D3D6D7
    border-radius: 0

[class*="b-cluster-tabs__section_type_content"]
  padding: 0 !important
  margin: 0 !important

[class*="b-cluster-tabs__section_type_nav"]
  border: none !important

[class*="b-cluster-tabs__menu-item_current_yes"]
  border-radius: 0 !important
