.eventCardAuthor
  display: flex
  padding: 10px
  &__img
    width: 45px
    min-width: 45px
    height: 45px
    margin-right: 15px
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.55)
    border-radius: 10px
    background-size: cover
    background-repeat: no-repeat
    background-color: #eee
  &__text
    font-size: 16px
    font-weight: 700

.eventCardPlace
  display: flex
  align-items: center
  padding: 10px
  &__img
    display: flex
    align-items: center
    justify-content: center
    width: 45px
    min-width: 45px
    height: 43px
    margin-right: 15px
    border: 1px solid #DADADA
    border-radius: 10em
    background-size: cover
    background-repeat: no-repeat
    background-color: #fff
  &__text
    font-size: 14px

.eventCardParam
  display: flex
  align-items: center
  justify-content: space-between

.eventCardPrice
  display: flex
  align-items: flex-end
  justify-content: center
  span
    line-height: 27px
    font-size: 26px
  i
    font-size: 20px
    line-height: 21px
    font-style: normal
    margin-left: 5px

.eventCardDate
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  text-transform: capitalize
  white-space: pre
  &__col
    padding: 0 10px
  &__h1
    width: 100%
    font-size: 20px
  &__h2
    width: 100%
    font-size: 12px

.eventCard
  position: relative
  display: flex
  width: 100%
  background: #FAFAFA
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12)
  border-radius: 22px
  overflow: hidden
  &__img
    display: flex
    align-items: flex-start
    justify-content: center
    width: 160px
    min-width: 160px
    height: 100%
    padding-top: 40px
    background-color: #aaa
    background-size: cover
    background-repeat: no-repeat
    background-position: center
  &__text
    display: flex
    flex-direction: column
    width: 100%
    padding: 0 10px
  &__tit
    font-size: 20px
    text-align: center
    margin: 15px 30px 15px
    max-height: 70px
    overflow: hidden
  &__progress
    padding: 0 30px 10px
  &__party
    display: flex
    align-items: center
    padding: 10px
    .tag
      margin-left: 10px
  &__sport
    margin-left: 10px
    font-size: 12px
  &__hr
    width: 100%
    height: 1px
    background-color: #DADADA
  &__date
    position: absolute
    bottom: 20px
    left: 0
    width: 160px
    color: #fff
    .eventCardDate__col
      padding: 0 5px
  &__param
    width: 50%
    padding: 10px
    margin-bottom: -60px
  &__btn
    display: flex
    align-items: center
    justify-content: center
    width: 50%
    height: 45px
    margin: 10px 10px 20px auto
    padding: 10px 20px
    background: #FFE145
    border-radius: 10em
    font-size: 18px
    text-align: center
    user-select: none
    cursor: pointer
  &.--game
    .eventCard__img
      img
        display: none
    .eventCard__btn
      background-color: #27AE60
      color: #fff
  &.--meeting
    border: 3px solid #FFE145

  +screen(740px, 940px)
    &__img
      display: none
    &__param
      width: 100%
      padding: 10px 30px
      margin-bottom: 0
    &__date
      position: static
      width: auto
      color: #000
    &__btn
      width: calc(100% - 60px)
      margin: 10px 30px 20px

  +max-screen(540px)
    &__img
      display: none
    &__param
      width: 100%
      padding: 10px 30px
      margin-bottom: 0
    &__date
      position: static
      width: auto
      color: #000
    &__btn
      width: calc(100% - 60px)
      margin: 10px 30px 20px

  &.--mobile-view
    .eventCard
      &__img
        display: none
      &__param
        width: 100%
        padding: 10px 30px
        margin-bottom: 0
      &__date
        position: static
        width: auto
        color: #000
      &__btn
        width: calc(100% - 60px)
        margin: 10px 30px 20px



.eventCardMore
  display: flex
  align-items: center
  justify-content: space-around
  flex-wrap: wrap
  width: 100%
  padding: 30px
  border-radius: 10px
  background-color: #aaa
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  &__tit
    width: 100%
    font-size: 24px
    line-height: 32px
    text-align: center
    color: #fff
    margin-bottom: 30px
  &__btn
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 45px
    padding: 10px 20px
    background-color: #27AE60
    color: #fff
    border-radius: 10em
    font-size: 18px
    text-align: center
    user-select: none
    cursor: pointer
