.friend-card
    position: relative
    display: flex
    align-items: center
    flex-direction: column
    &__img
        position: relative
        width: 100%
        max-width: 200px
        border-radius: 10px
        overflow: hidden
        background-repeat: no-repeat
        background-color: #C4C4C4
        background-position: center
        background-size: cover
        cursor: pointer
        &:after
            content: ''
            display: block
            width: 100%
            padding-bottom: 100%
    &__body
        position: relative
        margin-top: 10px
        max-width: 200px
        min-height: 26px
        width: 100%
    &__tit
        display: block
        width: 100%
        font-size: 18px
        text-align: center
        font-weight: 500
    &__add
        position: absolute
        display: flex
        right: 0
        bottom: 3px
        cursor: pointer
        &:hover
            path
                fill: $blue
        svg
            width: 20px
            height: 20px
        path
            fill: $green
    &.--onadd
        .friend-card
            &__tit
                text-align: left
            &__body
                margin-top: 20px
                padding-right: 35px


