.cardGame
    padding: 15px 0
    background: #FFFFFF
    border: 1px solid #D3D6D7
    box-sizing: border-box
    border-radius: 10px
    overflow: hidden
    cursor: default

    ._party
        display: none

    ._hdr
        display: flex
        align-items: center
        padding: 15px
        margin-top: -15px
        &__icon
            width: 28px
            height: 28px
            margin-right: 10px
        &__tit
            font-size: 18px
            font-weight: 500
            line-height: 1.5
            color: #414658
        &__tags
            display: flex
            margin-left: auto
        &__tag
            margin-right: 8px

    ._body
        padding: 15px
        margin-top: -15px
        + ._act
            margin-top: 0

    ._tit, &__tit
        font-weight: bold
        font-size: 22px
        line-height: 26px
        color: $blue
        margin-bottom: 14px
        a, span
            border-bottom: 1px solid transparent
            transition: 0.3s
        &:hover
            a, span
                border-color: rgba($blue, 0.4)

    ._txt, &__txt
        margin-bottom: 10px
        font-size: 16px
        font-weight: 500

    ._opts
        &__line
            display: flex
            margin: 8px 0
        &__label
            display: flex
            align-items: center
            width: min-content
            white-space: pre
            padding: 3px 6px
            margin-right: 10px
            background: #F2F2F2
            border-radius: 8px
            font-size: 12px
            svg
                margin-right: 4px
        &__txt
            font-size: 14px

    ._state
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        padding: 7px 11px
        margin-top: 20px
        background: rgba(65, 70, 88, 0.05)
        border-radius: 4px
        &__tit
            font-size: 14px
            font-weight: 500
            white-space: pre
            line-height: 1.5
        &__txt
            font-size: 12px
            font-style: italic
            white-space: pre
            line-height: 1.5

    ._act
        display: flex
        width: 100%
        margin-bottom: -15px

    ._btn
        @extend .btn
        &.--red
            @extend .btn--red
        &.--blue
            @extend .btn--blue
        &.--green
            @extend .btn--green
        &.--orange
            @extend .btn--orange
        display: flex
        align-items: center
        justify-content: center
        padding: 13px
        text-align: center
        width: 100%
        &--fill
            width: 100% !important
            background-color: #F9F9F9
            border-top: 1px solid #D3D6D7
        &.--disabled
            background-color: #aaa !important
            cursor: default
            span
                &:after
                    background-color: #aaa !important

.cardGame--party
    display: flex
    flex-wrap: wrap

    ._content
        width: calc(100% - 236px) 

    ._party
        position: relative
        display: block
        width: 236px
        height: calc(100% - 15px)
        margin-top: -15px
        padding: 16px
        &:after
            content: ''
            position: absolute
            top: 16px
            left: 0
            display: block
            width: 1px
            height: calc(100% - 16px - 16px)
            background-color: #F3F3F3
        &__tit
            font-size: 14px
            font-weight: 500
            color: rgba(65, 70, 88, 0.7)
        &__num
            position: absolute
            top: 16px
            right: 16px
            font-size: 16px
            font-weight: 500
            color: $darkBlue
        ul
            display: flex
            flex-wrap: wrap
            padding-top: 20px
            li, a
                display: flex
                flex-direction: column
                align-items: center
                width: 25%
                margin-top: 8px
        &__subtit
            margin-top: 20px
            font-size: 12px
            font-style: italic
            text-align: center
            color: rgba(0, 0, 0, 0.4)
        &__avatar
            display: flex
            align-items: center
            justify-content: center
            width: 40px
            height: 40px
            font-size: 14px
            text-align: center
            color: rgba(42, 131, 251, 0.7)
            border: 2px solid $blue
            border-radius: 10em
            overflow: hidden
            img
                max-width: 32px
                max-height: 32px
                border-radius: 10em
            &--red
                border-color: $red !important
            &--green
                border-color: $green !important
            &--orange
                border-color: $orange !important
    ._btn
        width: calc(100% - 236px)
        &--party
            width: 236px
    +screen($profileBreakePoint, 1000px)
        ._content
            width: calc(100% - 150px) 
        ._party
            width: 150px
            ul
                li, a
                    width: 50%
        ._btn
            width: calc(100% - 150px)
            &--party
                width: 150px

    +screen($profileBreakePoint, 900px)
        ._hdr
            flex-wrap: wrap
            &__tags
                margin-top: 5px
                margin-left: 0

    +max-screen(640px)
        ._content
            width: 100%
        ._party
            display: none
        ._act
            flex-wrap: wrap
        ._btn
            width: 100% !important

.cardGame--complete
    background-color: $greenLight
    color: $white
    path
        fill: $white !important
        color: $white
    ._tit
        color: $white
        &:hover
            a, span
                border-color: rgba($white, 0.4) !important
    ._hdr__tit
        color: $white
    ._opts__label
        background-color: rgba(255, 255, 255, 0.14)
    ._party
        &::after
            background-color: rgba(255, 255, 255, 0.12)
        &__tit,
        &__num,
        &__subtit
            color: $white
        &__avatar 
            border-color: $white
            color: $white
    ._state
        background-color: $green
    ._btn--fill
        border: 1px solid rgba(255, 255, 255, 0.12)
        background-color: transparent
        span::after
            background-color: $white
