.cardPlayground
    display: flex
    flex-direction: column
    background: #F7F7F7
    border-radius: 10px
    overflow: hidden
    cursor: default
    max-width: 360px
    ._image
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 112px
        min-height: 112px
        overflow: hidden
        &__geo
            position: absolute
            bottom: 9px
            left: 11px
            display: flex
            align-items: center
            width: min-content
            white-space: pre
            padding: 4px 7px
            margin-right: 10px
            background: rgba(18, 31, 70, 0.49)
            color: #fff
            border-radius: 8px
            font-size: 12px
            svg 
                margin-right: 4px
        &__link
            position: absolute
            bottom: 9px
            right: 11px
            display: flex
            align-items: center
            justify-content: center
            width: 32px
            height: 32px
            padding-left: 3px
            padding-bottom: 3px
            background: rgba(18, 31, 70, 0.49)
            border-radius: 8px
    ._body
        display: flex
        flex-direction: column
        height: 100%
        padding: 15px
    ._tit
        @extend .cardGame__tit
        font-size: 16px
        line-height: 20px
    ._txt
        @extend .cardGame__txt
        font-size: 14px
        font-weight: normal
    ._param
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        margin-top: auto
    ._price
        font-size: 16px
        font-weight: 500
        white-space: pre
        padding-right: 10px
    