.plagCard
    display: flex
    & + & 
        margin-top: 50px
    &__image
        position: relative
        display: flex
        align-items: flex-end
        justify-content: center
        width: 290px
        height: 190px
        min-width: 290px
        margin-right: 30px
        border: 1px solid #E7E7E7
        box-sizing: border-box
        overflow: hidden
        background-color: #eee
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        border-radius: 4px
    &__imageBottom
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 40px
        padding: 10px
        font-size: 14px
        color: #fff
        background-color: rgba(0,0,0,0.45)
        .plagCard__price
            display: none
    &__status
        display: flex
        align-items: center
        justify-content: center
        white-space: pre
    &__text
        width: 100%
        padding-right: 30px
    &__tit
        font-size: 26px
        line-height: 32px
        font-weight: 700
        color: #414658
        margin-bottom: 30px
        span, a
            display: inline
            &:hover
                border-bottom: 1px solid #A5A7AE
    &__state
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        width: 200px
        min-width: 200px
        height: 190px
        margin-left: auto
        border: 1px solid #D5D5D5
        border-radius: 12px
    &__price
        display: flex
        align-items: flex-end
        justify-content: center
        font-size: 23px
        text-align: center
        font-weight: 300
        span
            font-size: 30px
        i
            font-style: normal
            margin-left: 10px
        &.--small
            span
                font-size: 14px
    &__btn
        display: flex
        align-items: center
        justify-content: center
        width: calc(100% - 30px)
        max-width: 250px
        height: 40px
        margin: 10px auto 0
        background-color: $blue
        border-radius: 10em
        font-size: 16px
        text-align: center
        text-transform: uppercase
        color: #fff

    +max-screen(940px)
        &__image
            width: 230px
            min-width: 230px
            margin-right: 15px
        &__text
            padding-right: 15px
        &__tit
            font-size: 22px
            margin-bottom: 15px
        &__state
            width: 180px
            min-width: 180px
            
    +max-screen(740px)
        flex-direction: column
        &__image
            width: 100%
            min-width: 100%
            margin-right: 0
            margin-bottom: 15px
            border-radius: 0
            border: none
        &__imageBottom
            justify-content: space-between
            padding-right: 20px
            padding-left: 20px
            .plagCard__price
                display: flex
        &__text
            padding: 0 20px 20px
            text-align: center
        &__state
            width: 100%
            min-width: 100%
            height: auto
            padding: 0 20px 20px
            border: none
            border-radius: 0
            border-top: none
            .plagCard__price
                display: none
        &__price
            font-size: 16px
            span
                font-size: 22px
            &.--small
                span
                    font-size: 12px
        &__btn
            margin-top: 0


.plagCardParam
    &__item
        font-size: 15px
        margin-bottom: 10px
        &:last-child
            margin-bottom: 0
    &__tit
        display: inline
        color: #A5A7AE
    &__val
        display: inline
        padding-left: 5px
    +max-screen(740px)
        &__item
            display: flex
        &__tit
            width: 50%
            text-align: right
            padding-right: 10px
        &__val
            width: 50%
            text-align: left
            padding-left: 10px

