$cell-w: 115px
$cell-h: 50px
$planner-pad: 70px
    
@import planner-dates
@import planner-times
@import planner-grid
@import planner-tasks
@import planner-select
@import planner-popup
    
.rpl
    position: relative
    width: 100%
    user-select: none
    .loader
        position: absolute
        top: 0
        left: 0

.rpl-header
    position: relative
    z-index: 2
    background-color: #fff

.rpl-body
    position: relative
    z-index: 3
    width: 100%
    min-width: max-content
    padding: 20px $planner-pad 30px
    border: 1px solid #D3D6D7
    border-top: none
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    &__loader
        position: absolute
        top: 0
        left: 0
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        background-color: rgba($white, 0.9)
        transition: 0.3s
        opacity: 0
        visibility: hidden
        cursor: progress
        img
            width: 100px
            height: 100px
        &.--show
            opacity: 1
            visibility: visible
            z-index: 3
