.rpl-times
    position: absolute
    left: 0
    top: 20px
    ._item
        display: flex
        align-items: center
        justify-content: center
        width: $planner-pad
        height: $cell-h
        font-size: 14px