.rpl-popup
    position: absolute
    z-index: 10
    border-radius: 6px
    background-color: #aaa
    transition: 0.3s
    &__wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        min-width: 150px
        min-height: 150px
        max-width: 90%
        max-height: 90%
        padding: 10px
        color: #fff
        text-align: center
    &__tit
        margin-top: auto
        font-size: 16px
        font-weight: 500
    &__sub
        margin-top: 10px
        font-size: 12px
        opacity: 0.7
    &__btn
        display: flex
        align-items: center
        justify-content: center
        margin-top: auto
        width: 100%
        height: 40px
        border-radius: 6px
        font-size: 14px
        color: #fff
        user-select: none
        cursor: pointer
        &.--green
            background-color: $green
        &.--blue
            background-color: $blue
        &.--orange
            background-color: $orange
    &.--green
        background-color: $green
        box-shadow: 0px 1px 10px rgba(39, 174, 96, 0.2), 0px 4px 5px rgba(39, 174, 96, 0.14), 0px 2px 4px rgba(39, 174, 96, 0.12)
    &.--blue
        background-color: $blue
        box-shadow: 0px 1px 10px rgba(87, 139, 248, 0.2), 0px 4px 5px rgba(87, 139, 248, 0.12), 0px 2px 4px rgba(87, 139, 248, 0.12)
    
    
    &.--show
        opacity: 1
        visibility: visible
    &.--hide
        opacity: 0
        visibility: hidden

    +max-screen(940px)
        margin-top: 82px
        margin-left: 86px