.rpl-dates
    position: relative
    display: flex
    align-items: center
    width: 100%
    min-width: max-content
    height: auto
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    border: 1px solid #D3D6D7
    ._arr
        display: flex
        align-items: center
        justify-content: center
        min-width: $planner-pad
        height: 60px
        cursor: pointer
        path
            fill: $darkBlue
        &:hover
            path
                fill: $blue
    ._wrap
        display: flex
        align-items: center
        width: 100%
    ._item
        position: relative
        display: flex
        flex-direction: column
        padding: 15px
        width: 100%
        height: 60px
        background-color: $white
        text-align: center
        text-transform: capitalize
        &:before
            content: ''
            position: absolute
            top: calc(50% - 15px)
            left: 0
            display: block
            width: 1px
            height: 30px
            background-color: $darkBlue

        &:last-child
            &:after
                content: ''
                position: absolute
                top: calc(50% - 15px)
                right: 0
                display: block
                width: 1px
                height: 30px
                background-color: $darkBlue
        &.--weekend
            background-color: rgba(41, 203, 151, 0.05)
        &.--now
            ._item__sub::after
                content: ''
                display: block
                width: 6px
                height: 6px
                background-color: $red
                margin-left: 5px
                border-radius: 10em
        &.--other
            background-color: #f7f7f7
        &__btn
            position: absolute
            top: 0
            right: 10px
            font-size: 30px
            line-height: 5px
            color: rgba(208, 215, 221, 0.72727)
            cursor: pointer
            transition: 0.3s
            &:hover
                color: $blue
        &__tit
            display: flex
            align-items: flex-end
            justify-content: center
            font-size: 14px
            font-weight: 500
            margin-bottom: 5px
            i
                font-size: 18px
                font-style: normal
                margin-right: 5px
            span
                text-transform: capitalize
        &__sub
            display: flex
            justify-content: center
            align-items: center
            font-size: 10px
