.rpl-select-wrap
    position: relative
    display: flex
    width: 100%
    min-width: max-content
    height: max-content
    
.rpl-select-block
    position: absolute
    top: 10px
    left: 10px
    opacity: 0
    visibility: hidden
    &.--visible
        z-index: 30
        background: linear-gradient(2.47deg, rgba(69, 118, 174, 0) 3.47%, rgba(77, 161, 255, 0.36) 99.42%)
        border-radius: 2px
        border: 1px dashed #4DA1FF
        transition: 0.3s opacity, 0.3s visibility
        &.--show
            opacity: 1
            visibility: visible


.rpl-select-popup
    display: none
