.rpl-tasks
    ._task
        position: absolute
        display: flex
        flex-direction: column
        min-height: $cell-h
        padding: 5px
        border: 1px solid $green
        background: lighten($green, 50%)
        border-radius: 6px
        &:before
            content: ''
            display: block
            width: calc(100% + 10px)
            height: 10px
            margin: -5px -5px 5px
            border-radius: 6px
            background-color: $green
        &__tit
            font-size: 9px
            font-weight: 500
            color: $green
            margin-bottom: 5px
        &__sub
            font-size: 9px
        &__price
            margin-top: auto
            text-align: right
            font-size: 10px
            font-weight: 500
        
        &.--small
            ._task
                &__sub
                    margin-bottom: -10px
                    span
                        display: none
                &__price
                    margin-top: 0
        