.rpl-grid
  position: relative
  display: flex
  width: 100%
  min-width: max-content
  height: max-content
  ._row
    display: flex
    flex-direction: column
    width: 100%
    min-width: $cell-w
  ._cell
    position: relative
    display: flex
    align-items: center
    justify-content: flex-end
    width: calc(100% + 1px)
    height: #{$cell-h + 1px}
    margin-top: -1px
    padding: 10px
    border: 1px solid #C4C4C4
    border-radius: 4px
    font-size: 10px
    transition: 0.3s
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      background-color: rgba($blue, 0.2)
      opacity: 0
      visibility: hidden
      transition: 0.3s
    &.--closed,
    &.--empty,
    &.--game
      background: rgba(196, 196, 196, 0.2) !important
      color: transparent !important
      cursor: default
      &:after
        content: none

  .cellSelect
    &:after
      opacity: 1
      visibility: visible
