.button
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 100%
    height: auto
    min-width: min-content
    &__wrap
        display: flex
        align-items: center
        justify-content: center
        width: 180px
        min-width: min-content
        height: 45px
        padding: 10px 15px
        background-color: $blue
        border-radius: 10em
        font-size: 16px
        text-align: center
        color: #FFFFFF
        user-select: none
        cursor: pointer
    &__offer
        text-align: center
        font-size: 12px
        color: #797E8E 
        padding: 5px 0