.ErrorBlock
    width: 100%
    max-width: 100%
    padding: 10px
    background: rgba(235, 87, 87, 0.05)
    border: 1px solid #EB5757
    box-sizing: border-box
    border-radius: 6px
    font-size: 10px
    line-height: 12px
    color: $fontDark
    ._tit
        margin-bottom: 2px
        font-size: 12px
        line-height: 15px
        font-weight: 500
    p
        & + ul
            margin-top: 5px
    ul
        padding-left: 15px
        li
            margin-bottom: 2px
            &:before
                content: '• '