.filterList
    display: flex
    align-content: center
    width: 100%
    padding: 8px 20px
    background: #FFFFFF
    border: 1px solid #E7E7E7
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.05)
    border-radius: 6px
    ._select
        .formRow__item
            padding-top: 5px
    ._search
        position: relative
        width: 280px
        height: 40px
        margin: auto 0 auto auto
        background: #F7F7F7
        border-radius: 38px
        &__icon
            position: absolute
            top: 0
            left: 0
            display: flex
            align-items: center
            justify-content: center
            height: 100%
            padding: 0 20px
            cursor: pointer
            user-select: none
            svg
                width: 20px
                height: 20px
            path
                fill: #DADADA
        input
            width: 100%
            height: 100%
            padding: 0 50px 
    ._setting
        margin-top: auto
        margin-bottom: auto
        margin-left: 20px

    +max-screen(640px)
        position: relative
        flex-wrap: wrap
        padding: 8px
        ._search
            width: 100%
            margin: 15px 0 0
        ._setting
            position: absolute
            top: 20px
            right: 20px
