.garmoshka
    position: relative
    width: calc(100% + 40px)
    margin-left: -20px
    margin-right: -20px
    background-color: #2A83FB
    &:after
        content: ''
        position: absolute
        z-index: 1
        top: 0
        left: 50%
        transform: translateX(-50%)
        display: block
        width: 100vw
        height: 100%
        background-color: #2A83FB
    &__list
        @extend .wrap
        position: relative
        z-index: 2
        display: flex
        align-items: center
        justify-content: flex-start
        height: 316px
        overflow: auto
        padding-left: 60px !important
        padding-right: 0 !important
        @extend %no-scrollbar
        ._item
            position: relative
            width: 60px
            height: 100%
            transform: skewX(-15deg)
            user-select: none
            transition: 0.5s
            &__tit
                position: absolute
                z-index: 3
                bottom: 0
                left: 60px
                transform: rotate(-90deg)
                transform-origin: bottom left
                white-space: pre
                display: flex
                align-items: center
                justify-content: center
                width: 316px
                height: 60px
                font-size: 18px
                font-weight: 500
                color: #FFFFFF
                background-color: #2A83FB
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.17)
                border-bottom-left-radius: 6px
                border-bottom-right-radius: 6px
                cursor: pointer
                transition: 0.5s
                span
                    transform: skewX(-15deg)
            &__content
                position: relative
                z-index: 1
                display: flex
                flex-direction: column
                align-items: flex-end
                text-align: right
                width: 100%
                height: 100%
                padding-right: 25px
                padding-left: 55px
                border-top-right-radius: 6px
                border-bottom-right-radius: 6px
                overflow: hidden
                transition: 0.3s
                opacity: 0
                visibility: hidden
            &__img
                position: absolute
                top: 0
                left: 0
                display: block
                width: calc(100% + 120px)
                height: 100%
                transform: skewX(15deg)
                background-size: cover
                background-position: center
                background-repeat: no-repeat
                margin-left: -60px
                margin-right: -60px
                &:after
                    content: ''
                    position: absolute
                    top: 0
                    right: 0
                    width: 100%
                    height: 100%
                    background: linear-gradient(121.8deg, rgba(0, 0, 0, 0) 38.3%, #000000 84.91%)
            &__props
                position: relative
                z-index: 2
                margin-top: auto
                width: 190px
                li
                    margin-bottom: 15px
                    transform: skewX(15deg)
                    font-size: 14px
                    line-height: 17px
                    font-weight: 500
                    color: #fff
                    &:last-child
                        margin-bottom: 0
            &__name
                position: relative
                z-index: 2
                margin-top: auto
                transform: skewX(15deg)
                margin-bottom: 20px
                font-size: 18px
                line-height: 22px
                font-weight: bold
                color: #FFB72A
                width: 190px

            &.--show
                width: 300px
                ._item__tit
                    opacity: 0
                    visibility: hidden
                    transform: rotate(-90deg) translateY(-100%)
                ._item__content
                    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.17)
                    opacity: 1
                    visibility: visible

    +max-screen(640px)
        width: calc(100% + 30px)
        margin-left: -15px
        margin-right: -15px