.iconToPopup
    position: relative
    margin-left: auto
    ._btn
        width: 20px
        height: 20px
        user-select: none
        cursor: pointer
        path
            fill: #DADADA
        &:hover
            path
                fill: $blue !important
    ._popup
        @extend .popup-container
        max-width: calc(100vw - 50px)
        position: absolute
        top: calc(100% + 10px)
        left: 50%
        padding: 30px
        transform: translate(-50%, 0)
        z-index: 90
        font-size: 14px
        line-height: 16px
        font-weight: normal
        &__tit
            display: block
            margin-bottom: 12px
            font-size: 12px
            font-weight: normal
            line-height: 14px
            text-transform: uppercase
            color: #8A8F9D
        &__body
            width: 100%
        &__cross
            position: absolute
            top: 0
            padding: 20px
            right: 0
            cursor: pointer
            svg
                width: 16px
                height: 16px
            path
                fill: #646464
    &.--popupHide
        ._popup
            transform: translate(-50%, -20px)
            opacity: 0
            visibility: hidden
    &.--popupShow
        ._btn
            path
                fill: $darkBlue

    +max-screen(940px)
        &.--md-right
            ._popup
                right: 0
                left: auto
                transform: translate(0, 0)
                &:after
                    left: calc(100% - 30px)
            &.--popupHide
                ._popup
                    transform: translate(0, -20px)
        &.--md-left
            ._popup
                left: 0
                transform: translate(0, 0)
                &:after
                    left: 30px
            &.--popupHide
                ._popup
                    transform: translate(0, -20px)
    +max-screen(640px)
        ._popup
            // padding: 12px
            // padding-top: 18px
            position: fixed
            top: 40px
            left: 0
            width: 100%
            max-width: 100%
            height: calc(100% - 40px)
            padding: 40px 20px 115px
            border-radius: 0
            overflow: auto
            &__body
                .formWrap
                    max-width: 100% !important
                .formRow__tit
                    margin-bottom: 20px
            &__cross
                display: block
                top: 20px
        &.--xs-right
            ._popup
                right: 0
                left: auto
                transform: translate(0, 0)
                &:after
                    left: calc(100% - 30px)
            &.--popupHide
                ._popup
                    transform: translate(0, -20px)
        &.--xs-left
            ._popup
                left: 0
                transform: translate(0, 0)
                &:after
                    left: 30px
            &.--popupHide
                ._popup
                    transform: translate(0, -20px)

