.iconList
    user-select: none
    &__tit
        font-size: 14px
        font-weight: 500
        margin-bottom: 12px
        span
            font-weight: 300
            margin-left: 5px
            opacity: 0.5
    &__list
        position: relative
        display: flex
        flex-wrap: wrap
        align-items: baseline
        width: 100%
        padding-top: 20px
        border-top: 1px solid #eee
        scroll-behavior: smooth
        li
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            width: 25%
            margin-bottom: 20px
            text-align: center
            word-break: break-word
        img
            max-width: 30px
            max-height: 30px
        ._icon
            display: flex
            path
                fill: #414658
            svg
                width: 22px
                height: 31px

    &__name
        font-size: 12px
        line-height: 14px
        color: #797E8E
        text-align: center
        max-width: 90%
        margin-top: 13px

    &__arr
        display: none
        align-items: center
        justify-content: center
        width: 30px
        cursor: pointer
        path
            fill: #A5A7AE
        &:hover
            opacity: 0.7
        &:first-child
            justify-content: flex-end
        &:last-child
            justify-content: flex-start
    &__scroll
        display: flex
        align-items: center
        justify-content: space-between
        height: 90px
        border-top: 1px solid #eee
        .iconList__arr
            display: flex
        .iconList__list
            flex-wrap: nowrap
            overflow: auto
            border: none
            @extend %no-scrollbar

    &.--landFace
        .iconList__tit
            padding-left: 25px
            padding-right: 25px
