.inputTip
    position: absolute
    z-index: 1
    top: 100%
    left: 0
    width: 100%
    height: 360px
    max-height: 100vh
    background-color: #fff
    border: 1px solid #E7E7E7
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14)
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px
    transition: 0.3s
    &:before
        content: ''
        display: block
        width: calc(100% + 2px)
        height: 10px
        margin-top: -10px
        margin-left: -1px
        background-color: #fff
        border-right: 1px solid #E7E7E7
        border-left: 1px solid #E7E7E7
    &__wrap
        display: flex
        width: 100%
        height: 100%
        overflow: auto
        &::-webkit-scrollbar-track
            background: rgba($darkBlue, 0.1)
        &::-webkit-scrollbar
            width: 5px
            height: 5px
        &::-webkit-scrollbar-thumb
            background: rgba($darkBlue, 0.2)
            border-radius: 10em
            cursor: pointer
    &__list
        display: flex
        height: max-content
        flex-direction: column
        padding: 20px 20px 5px
        width: 100%
    &__item
        display: flex
        align-items: center
        margin-bottom: 15px
        cursor: pointer
        user-select: none
        transition: 0.3s
        width: 100%
        svg
            width: 24px
            height: 24px
            margin-right: 10px
        path
            fill: $darkBlue
            transition: 0.3s
        .inputTip__label
            white-space: pre-wrap
            &.disabled
                opacity: 0.5
        &:hover
            .inputTip__label
                color: $green
            path
                fill: $green
    &__label
        color: $darkBlue
        transition: 0.3s

    &--hide
        height: 0
        opacity: 0
        visibility: hidden
        li
            transform: translateX(20px)
            opacity: 0
            visibility: hidden
