.man-list
    margin-bottom: 20px
    ._head
        margin-bottom: 40px
    ._body
        width: 100%
        max-height: 370px
        overflow: hidden scroll
        padding-right: 23px
        @extend %default-scrollbar
    ._item
        display: flex
        align-content: center
        padding: 20px 0
        border-bottom: 1px solid #E1E1E1
        &:last-child
            border-bottom: none
        &__avatar
            position: relative
            margin-right: 17px
            span
                display: flex
                border-radius: 10em
                border: 4px solid transparent
                overflow: hidden
            &.--beginner
                span
                    border-color: $green
                ._item__level
                    background-color: $green
                    color: #fff
        &__level
            position: absolute
            bottom: -2px
            left: 50%
            transform: translateX(-50%)
            display: flex
            font-size: 9px
            line-height: 10px
            letter-spacing: 1px
            font-weight: 500
            color: #fff
            border-radius: 10em
            padding: 2px 5px
        &__text
            margin-top: auto
            margin-bottom: auto
        &__tit
            font-size: 18px
            line-height: 18px
            font-weight: 500
            margin-bottom: 8px
            span + span
                margin-left: 5px
            a
                border-bottom: 1px solid rgba($darkBlue, 0.4)
                transition: 0.3s
                &:hover
                    border-color: transparent
        &__subtit
            font-size: 12px
            color: #797E8E

        &__btns
            display: flex
            margin: auto 0 auto auto
            min-width: 177px
        &__btn
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            min-width: min-content
            padding: 12px 20px
            margin-left: 5px
            background: $blue
            border-radius: 6px
            font-size: 12px
            font-weight: 500
            text-transform: uppercase
            color: $white
            cursor: pointer
            user-select: none
            transition: 0.3s
            &:hover
                opacity: 0.7
        &__btnIcon
            display: none

    +max-screen(640px)
        span.--surname
            display: none
        ._item
            &__btns
                min-width: min-content
            &__btn
                width: max-content
                span
                    display: none
            &__btnIcon
                display: block
                svg
                    width: 15px
                    height: 15px
                path
                    fill: #fff
        // ._item
        //     flex-wrap: wrap
        //     &__avatar
        //         margin-bottom: 10px