.playerList
    display: flex
    align-items: center
    justify-content: flex-end
    flex-direction: row-reverse
    padding-left: 20px
    &__cir
        display: flex
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        border-radius: 10em
        border: 1px solid $green
        background-color: #fff
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        font-size: 16px
        text-align: center
        color: $green
        margin-left: -20px
        &:last-child
            width: 50px
            height: 50px
            border-width: 2px
        &.--add
            z-index: 1
            margin-left: -15px