.popupGallary
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.5)
    z-index: 1000
    display: flex
    align-items: center
    justify-content: center
    transition: 0.3s
    user-select: none
    cursor: pointer
    &__cross
        position: absolute
        top: 0
        right: 0
        padding: 20px
        z-index: 2
        path
            fill: #fff
    img
        position: relative
        z-index: 1
        max-width: 100%
        max-height: 100%
        cursor: default
    &.--hide
        opacity: 0
        visibility: hidden