.post
    &__title
        width: 100%
        font-size: 24px
        line-height: 17px
        font-weight: 900
        line-height: 30px
    &__content
        width: 100%
        p
            font-size: 16px
            line-height: 19px
            margin: 30px 0
            a
                color: $blue
        img
            display: block
            width: 100%
            height: auto
            margin: 30px 0
            border-radius: 6px
    &__geo
        width: 100%
        margin-top: 40px