.progress
    width: 100%
    &__line
        width: 100%
        height: 10px
        background-color: #dedede
        border-radius: 10em
    &__res
        width: 0
        min-width: 10px
        height: 100%
        border-radius: 10em
        background-color: $green
    &__txt
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 10px
    &__tit
        font-size: 12px
    &__subtit
        font-size: 12px
        color: #797E8E
        margin-left: auto