.rating
    display: flex
    span
        padding: 5px 3px
        &:first-child
            padding-left: 0
        &:last-child
            padding-right: 0
    &--select
        svg
            cursor: pointer