.searchLine
    display: flex
    align-items: center
    flex-direction: row
    width: 100%
    height: 32px
    border-radius: 10em
    background-color: #f6f6f6
    color: #252529
    fill: #252529
    font-size: 14px
    input
        width: 100%
        height: 100%
        padding-right: 11px
        order: 2
        color: inherit
    &__icon
        width: 38px
        min-width: 38px
        padding: 11px
        fill: inherit
        order: 1
        svg
            width: 16px
        path
            fill: inherit
