.tag
    display: inline-block
    padding: 3px 6px
    font-size: 9px
    letter-spacing: 0.08em
    text-transform: uppercase
    background-color: $white
    color: $fontDark
    border-radius: 55px
    &:last-child
        margin-right: 0
    &--green
        background-color: #4CAF50
        color: $fontLight
    &--yellow
        background-color: #FBC02D
        color: $fontLight
    &--orange
        background-color: #EF6C00
        color: $fontLight
    &--red
        background-color: #F2453D
        color: $fontLight
    &--purple
        background-color: #9C27B0
        color: $fontLight
