.CommandRightPad
  width: 157px
  border-radius: 0 12px 12px 0
  background: #e9e9e9
  margin: -10px -30px -10px 18px
  padding: 41px 6px 34px 8px
  label
    display: block
    font-size: 12px
    letter-spacing: 0.06em
    margin-bottom: 9px
  &__imageUpload
    background: #2A83FB
    height: 100px
    margin: 0 -6px 13px -8px
  &__ColorPickerContainer
    display: grid
    padding-left: 22px
    padding-right: 27px
    grid-template-columns: 1fr 1fr 1fr 1fr
    gap: 5px
  &__ColorPicker
    border: 1px solid #FFF
    width: 20px
    height: 20px
    border-radius: 20px
    cursor: pointer
