.profileSide
    position: absolute
    top: 0
    right: $padd
    width: $w
    &__sec
        padding: 16px
        background: #F7F7F7
        border-radius: 10px
        margin-bottom: 15px
        .profileAvatar
            margin-bottom: 10px
        .gameIcon
            width: 30px
            height: 30px
            svg
                width: 30px
                height: 30px
        ul
            display: flex
            flex-wrap: wrap
            padding-top: 20px
            li
                width: 25%
                margin-bottom: 10px
            li, a
                display: flex
                flex-direction: column
                align-items: center
                p
                    width: min-content
                    padding: 0
                    margin: auto
            path
                fill: $darkBlue
                stroke: $darkBlue
            p
                font-size: 12px
                line-height: 12px
                margin: 5px 0
                border-bottom: 1px solid transparent
                padding: 0 5px
                text-align: center

            a:hover
                p
                    border-color: #b0a7a7

    &__secTit
        font-size: 14px
        font-weight: 500
        a
            border-bottom: 1px solid #b0a7a7
        &:hover
            a
                border-color: transparent
    &__btnSec
        display: flex
        align-items: center
        justify-content: center
        padding: 16px
        margin-bottom: 15px
        background: #F7F7F7
        border-radius: 10px
        font-size: 16px
        font-weight: 500
        text-transform: uppercase
        white-space: pre
        user-select: none
        cursor: pointer
        transition: 0.3s
        span + div 
            svg
                margin-left: 15px
        path
            fill: $darkBlue
            stroke: $darkBlue
        &.--action
            background-color: #36373C
            color: $white
            path
                fill: $white
                stroke: $white
        &.--invite
            font-size: 12px
            line-height: 18px
            background-color: #A5A7AE
            color: $white
            path
                fill: $white
                stroke: $white
        &:hover
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.35)

    &.--chat
        .profileAvatar
            display: none       

.profileAvatar
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 332px
    max-width: 100%
    margin-left: auto
    margin-right: auto
    background: #FFFFFF
    border-radius: 10px
    overflow: hidden
    margin-bottom: 15px
    img
        display: block
        max-width: 100%
    &--sm
        width: 50px
        height: 50px
        border-radius: 10em
        img
            min-width: 100%
            min-height: 100%

.profileEditNav
    position: absolute
    bottom: 12px
    left: 50%
    max-width: 308px
    width: calc(100% - 24px)
    transform: translateX(-50%)
    user-select: none
    &__btn
        position: relative
        z-index: 5
        width: 100%
        height: 48px
        padding: 17px 10px
        background: #FFFFFF
        border-radius: 10px
        font-size: 14px
        text-align: center
        color: rgba(0, 0, 0, 0.6)
        cursor: pointer
    &__list
        position: absolute
        z-index: 1
        bottom: 0 //20px
        left: 0
        width: 100%
        padding: 25px 25px 28px
        background: rgba(65, 70, 88, 0.9)
        border-radius: 10px
        opacity: 0 //1
        visibility: hidden //visible
        transition: 0.3s
        span, a
            display: block
            font-size: 14px
            line-height: 16px
            text-align: center
            color: #FFFFFF
            margin-bottom: 25px
            transition: 0.3s
            cursor: pointer
            &:hover
                text-shadow: 0px 0px 3px #FFFFFF
    &:hover
        .profileEditNav__list
            bottom: 20px
            opacity: 1
            visibility: visible

.profileAvatarGeo
    cursor: pointer
    position: absolute
    bottom: 12px
    left: 50%
    max-width: 308px
    width: calc(100% - 24px)
    transform: translateX(-50%)
    display: flex
    align-items: center
    justify-content: space-between
    padding: 6px
    padding-left: 17px
    background: rgba(42, 45, 56, 0.8)
    border-radius: 8px
    ._tit
        font-size: 14px
        line-height: 16px
        color: $white
        width: 200px
        max-width: calc(100% - 70px)
    img
        max-width: 52px
        max-height: 52px
        border-radius: 6px

.profileBalance
    display: flex
    align-items: center
    &__tit
        font-size: 12px
    &__num
        font-size: 32px
        font-weight: 900
        line-height: 39px
        color: $darkBlue
    &__btn
        display: flex
        align-items: center
        justify-content: center
        width: 64px
        height: 64px
        margin: -4px -4px -4px auto
        background: $darkBlue
        border-radius: 12px
        cursor: pointer


.profileSideParams
    background: #F7F7F7
    border-radius: 10px
    margin-bottom: 16px
    ._params
        display: flex
        flex-wrap: wrap
        padding: 16px 16px 0
        li
            width: 50%
            margin-bottom: 20px
        &__val
            font-size: 14px
            line-height: 17px
            font-weight: 500
            margin-bottom: 5px
        &__tit
            font-size: 12px
            line-height: 14px
            color: #797E8E
        & + ._icons
            border-top: 1px solid #EEEEEE
    ._icons
        display: flex
        flex-wrap: wrap
        align-items: baseline
        padding: 16px 16px 0
        li
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            width: 25%
            margin-bottom: 20px
            text-align: center
            word-break: break-word
        img
            margin-bottom: 13px
            max-width: 30px
            max-height: 30px
        &__tit
            font-size: 12px
            line-height: 14px
            color: #797E8E
            text-align: center
            max-width: 90%

.profileSideClub
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 20px 10px 16px
    background: #F7F7F7
    border-radius: 10px
    margin-bottom: 16px
    ._tit
        font-size: 16px
        font-weight: 500
        line-height: 19px
        margin-bottom: 5px
    ._offer
        font-size: 12px
        line-height: 14px
        color: #797E8E
    img
        max-width: 40px
        max-height: 40px
        border-radius: 50%

.profileSideReview
    background: #F7F7F7
    border-radius: 10px
    margin-bottom: 16px
    ._header
        display: flex
        align-items: center
        justify-content: space-between
        padding: 10px 20px 10px 16px
        &__tit
            font-size: 16px
            font-weight: 500
            line-height: 19px
        &__arr
            path
                fill: #B3B4BA
