.card-list
    display: flex
    flex-wrap: wrap
    width: calc(100% + 20px)
    margin-left: -10px
    margin-right: -10px
    &__item
        margin: 10px
        width: 100%
        &--game
            margin: 10px
            width: calc(100% / 3 - 20px)
            +max-screen(1075px)
                width: calc(100% / 2 - 20px)
            +max-screen(740px)
                width: 100%
        &--playground
            margin: 10px
            width: calc(100% / 4 - 20px)
            +max-screen(1075px)
                width: calc(100% / 3 - 20px)
            +max-screen(740px)
                width: calc(100% / 2 - 20px)
            +max-screen(400px)
                width: 100%
