.clubSec
    width: 100%
    background: #FFFFFF
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12)
    border-radius: 10px
    & + & 
        margin-top: 80px
    &__top
        display: flex
        padding: 40px
    &__logo
        display: flex
        width: 50px
        min-width: 50px
        height: 50px
        margin-right: 20px
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.55)
        background-color: #fff
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        border-radius: 10em
    &__text
        padding-top: 5px
    &__tit
        font-size: 20px
        line-height: 24px
        font-weight: 700
        &:hover
            border-bottom: 1px solid #A5A7AE
    &__subtit
        margin-top: 5px
        font-size: 14px
        color: #414658
        span
            & + a
                padding-left: 10px
        a
            color: $blue
    &__body
        padding: 0 40px 40px
    &__dots
        display: none
        justify-content: center
        align-items: center
        width: 100%
        padding: 0 0 10px
        border-top: 1px solid #C4C4C4
        i
            display: block
            width: 6px
            height: 6px
            background-color: #A5A7AE
            border-radius: 10em
            margin: 3px
            &.act
                background-color: $blue
    &__bottom
        border-top: 1px solid #C4C4C4
        padding: 15px 40px
        font-size: 16px
        text-align: center
        color: $blue
        cursor: pointer

    +max-screen(740px)
        &__top
            padding: 20px
        &__subtit
            a
                display: none
                padding: 0
        &__body
            padding: 0
        &__dots
            padding: 15px 20px
        &__bottom
            display: none
            padding: 15px 20px

    +min-screen(740px)
        .clubSec__body
            transform: none !important
            transition: none !important
        &.--mobileSwipe
            .plagCard__dots
                display: none

    +max-screen(740px)
        .clubSec__body
            width: 100%
            margin-left: 0
            margin-right: 0
            .plagCard
                width: 100%
                margin-left: 0
                margin-right: 0
        &.--mobileSwipe
            .clubSec__body
                display: inline-flex
                align-items: flex-start
                width: auto
                flex-wrap: nowrap
                transition: 0.3s
            .clubSec__dots
                display: flex
            .plagCard
                margin-top: 0 !important
                width: calc(100vw - 48px)
                margin-left: 0
                margin-right: 28px
                user-select: none

    +max-screen(640px)
        &.--mobileSwipe
            .plagCard
                width: calc(100vw - 38px)
                margin-right: 28px
