.contact
    display: flex
    padding: 80px 0
    &__geo
        width: calc(100% - 330px)
        height: 370px
        background-color: #fff
        box-shadow: 0px 4px 32px #0F4CCC
        border-radius: 20px
        background-size: cover
        background-position: center
        overflow: hidden
    &__txt
        width: 300px
        margin-left: 30px
    &__tit
        font-size: 36px
        color: #fff
        margin-bottom: 10px
    &__list
        color: #fff
        li
            margin-bottom: 20px
    &__key
        font-size: 18px
        font-weight: 300
        margin-bottom: 5px
    &__val
        font-size: 18px
        line-height: 20px
        a
            line-height: 20px
            border-bottom: 1px solid rgba($white, 0.5)
            transition: 0.3s
            &:hover
                border-color: transparent
        span
            display: block
    &__soc
        display: flex
        a
            margin-left: 20px
            &:first-child
                margin-left: 0
    &__socItem
        display: flex
        align-items: center
        justify-content: center
        width: 37px
        height: 37px
        border-radius: 10em
        transition: 0.3s
        path
            fill: #fff
        &:hover
            opacity: 0.7
    
    +max-screen(640px)
        flex-wrap: wrap
        padding: 20px 0
        &__geo
            width: 100%
        &__txt
            width: 100%
            margin-top: 40px
            margin-left: 0
