.dt-list
    display: flex
    flex-wrap: wrap
    width: calc(100% + 7px)
    margin-left: -3.5px
    margin-right: -3.5px
    word-spacing: -1px
    @extend %no-scrollbar
    +max-screen(640px)
        flex-wrap: nowrap
        &.--mobScroll
            overflow: scroll hidden

