.face
    width: 100%
    background: #578BF8
    &__wrap
        @extend .wrap
        padding-top: $padd
        padding-bottom: $padd
    &__filter
        margin-top: -60px
    &__scroll
        padding: 30px 0
        .icon
            svg
                width: 50px
                height: 50px

                path
                    fill: #fff
