.invite
    display: flex
    flex-direction: column
    height: 100%
    max-height: calc(90vh - 84px)
    &__tab
        display: flex
        flex-wrap: wrap
        width: calc(100% + 10px)
        min-height: max-content
        margin-left: -5px
        margin-right: -5px
        padding-bottom: 15px
        border-bottom: 1px solid #E1E1E1
        .invite__btn
            margin: 5px
    &__scroll
        width: calc(100% + 10px)
        margin-left: -5px
        margin-right: -5px
        padding-right: 10px
        height: 100%
        overflow-y: scroll
        overflow-x: hidden
        @extend %default-scrollbar
    &__header
        display: flex
        flex-wrap: wrap
        justify-content: flex-end
        align-items: flex-end
        width: calc(100% + 10px)
        min-height: 127px
        margin: 5px -5px
        background: url(/assets/images/megafon.svg) center left no-repeat
        background-size: auto
        .label
            margin: 5px
            &.--disable
                .label__wrap
                    background-color: #fff
                    box-shadow: none
    &__select
        width: 200px
        margin: 5px
        input
            height: 40px
            padding-left: 12px
            padding-right: #{12px + 45px}
            border: 1px solid #D3D6D7
            border-radius: 6px
            background-color: #fff
            &::placeholder
                color: rgba($darkBlue, 0.5)
        .uiSelect__arr
            width: 42px
            height: 40px
            border: 1px solid #D3D6D7
            bottom: 0
            border-radius: 6px
            path
                fill: $darkBlue
        input
            font-size: 14px
            font-weight: 500
    &__content
        margin-top: 20px
        padding-right: 10px
        overflow-y: scroll
        overflow-x: hidden
        @extend %default-scrollbar
    &__tit
        font-size: 14px
        color: #797E8E
        margin-bottom: 5px
    &__btn
        @extend .btn
        &.--blue
            @extend .btn--blue
        &.--white
            color: $blue
        &.--fill
            width: 100%
        &.--lg
            font-size: 16px
            font-weight: 500

        display: flex
        align-items: center
        justify-content: center
        width: auto
        min-height: 30px
        padding: 10px 12px
        font-size: 12px
        text-align: center
        border: 1px solid #D3D6D7
        border-radius: 10px
        span
            & + i
                margin-left: 5px
        i
            opacity: 0.5
            font-style: normal

    +max-screen(640px)
        max-height: 100%