.review-line
  padding-top: 50px
  padding-bottom: 50px
  &__tit
    font-size: 18px
    color: #A5A7AE
    margin-bottom: 40px
    span
      color: $darkBlue
      margin-left: 10px
  &__list
    ._item
      display: flex
      margin-bottom: 40px
      padding-bottom: 20px
      border-bottom: 1px solid #E1E1E1
    &__img
      display: flex
      align-items: center
      justify-content: center
      width: 58px
      min-width: 58px
      height: 58px
      margin-right: 20px
      background: #FFFFFF
      border: 2px solid #DADADA
      border-radius: 10em
      img
        min-width: 100%

      span
        font-size: 24px
    &__name
      font-size: 14px
      margin-bottom: 5px
      span
        font-size: 10px
        color: #A5A7AE
        margin-left: 10px
    &__rating
      margin-bottom: 20px
    &__tit
      font-size: 12px
      color: #A5A7AE
      margin-bottom: 2px
    &__txt
      font-size: 14px
      line-height: 17px
      font-weight: 500
      word-break: break-all
  &__endLink
    display: block
    text-align: center
    width: 100%
    font-size: 14px
    font-weight: 500
    color: #2A83FB
    cursor: pointer
    user-select: none

  +max-screen(840px)
    padding: 40px 0
