@import _event-slider
@import _event-label
@import _event-state
@import _event-state-line
@import _event-action-line

.eventPage
    &__wrap
        @extend .wrap
        display: flex
        padding-top: 75px
    &__content
        display: flex
        flex-direction: column
        width: calc(100% - 305px)
        padding-right: 44px
        padding-bottom: 40px
        order: 1
        .tablinks
            width: 100%
            margin-bottom: 30px
        .face-card
            max-width: 100%
            margin: 0
            margin-bottom: 30px
            &.--avatar
                .iconList__scroll
                    border: 1px solid #E1E1E1
                    padding-bottom: 20px
                    height: 110px
                    border-bottom-left-radius: 20px
                    border-bottom-right-radius: 20px
    &__side
        width: 305px
        margin-top: -50px
        padding-bottom: 30px
        order: 2
        .eventLabel
            margin-bottom: 20px
        .sharing
            margin-top: 20px
    
    .tablinks
        &__item
            &.active
                color: $darkBlue
        &__act
            background-color: $red


    hr
        width: 100%
        border: none
        border-bottom: 1px solid #E1E1E1

    +max-screen(840px)
        &__wrap
            flex-wrap: wrap
            padding-top: 20px
        &__content
            width: 100%
            padding-right: 0
            order: 2
        &__side
            width: 100%
            margin-top: 0
            order: 1

.eventPageLoader
    position: fixed
    top: 0
    left: 0
    z-index: 50
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    background-color: rgba(255,255,255,0.3)
    img
        width: 100px
        height: 100px
