.eventLabel
    display: flex
    align-items: center
    width: 100%
    padding: 16px
    background: #FFFFFF
    border: 1px solid #D3D6D7
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25)
    border-radius: 6px
    &__img,
    &__vip
        background-size: cover
        background-position: center
        background-repeat: no-repeat
    &__img
        position: relative
        width: 52px
        height: 52px
        margin-right: 16px
        background-color: #fff
        border-radius: 6px
    &__vip
        position: absolute
        top: -16px
        left: -14px
        width: 30px
        height: 30px
    &__tit
        width: calc(100% - 52px - 16px)
        max-width: 190px
        font-size: 16px
        font-weight: 500
    &__price
        white-space: pre
        padding-right: 20px
        .eventState__h3
            width: 100%
            margin-top: 0
    &__btn
        width: 100%
        margin-left: auto
        .eventState__btn
            width: auto !important
            margin: 0
            height: 47px
            font-size: 12px