.eventStateLine
    display: flex
    white-space: pre
    margin-top: 20px
    margin-bottom: 20px
    &__item
        width: 100%
        min-width: max-content
        margin-bottom: 20px
        margin-right: 20px
        padding-right: 20px
        border-right: 1px solid rgba(0, 0, 0, 0.1)
        &:last-child
            padding-right: 0
            margin-right: 0
            border-right: none
    &__val
        font-size: 18px
        font-weight: 500
        margin-bottom: 5px
    &__tit
        font-size: 12px
        color: #797E8E

    +max-screen(1020px)
        flex-wrap: wrap
        &__item
            width: calc(50% - 20px)
            margin-right: 20px
            padding-right: 20px
            border-right: 1px solid rgba(0, 0, 0, 0.1)
            &:nth-child(even)
                padding-right: 0
                margin-right: 0
                border-right: none

    +max-screen(540px)
        margin-top: 0
        margin-bottom: 0
        &__item
            width: 100%
            padding-right: 0
            margin-right: 0
            border-right: none