.eventState
  width: 100%
  padding: 0 0 15px
  background: #FFFFFF
  border: 1px solid #D3D6D7
  box-shadow: 5px 4px 24px rgba(0, 0, 0, 0.25)
  border-radius: 10px
  &__row
    width: 100%
    padding: 20px 36px
    border-bottom: 1px solid rgba(196, 196, 196, 0.6)
    &:last-child
      border: none
  &__h1
    display: flex
    font-size: 32px
    font-weight: 900
    margin: 5px 0
    i
      font-size: 18px
      font-style: normal
      margin-top: 2px
      margin-left: 5px
      margin-bottom: auto
    & + .eventState__btn
      margin-top: 10px
  &__h2
    font-size: 18px
    font-weight: 500
    margin: 5px 0
    & + .eventState__h3
      margin-top: 10px
  &__h3
    font-size: 12px
    color: #797E8E
    margin: 5px 0
  &__btns
    display: flex
    flex-direction: column
    width: 100%
  &__btn
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 64px
    margin-top: 5px
    padding: 10px
    border-radius: 6px
    font-size: 16px
    font-weight: 500
    text-align: center
    text-transform: uppercase
    background-color: $darkBlue
    color: #fff
    &.--green
      background-color: $green
    &.--orange
      background-color: $orange
  &__paramList
    display: flex
    & + .eventState__cirList
      margin-top: 10px
  &__param
    margin-right: 30px
    cursor: pointer
    &.--blue
      .eventState__h1,
      .eventState__h2,
      .eventState__h3
        color: $blue
    &:last-child
      margin-right: 0
  &__cirList
    display: flex
    align-items: center
    justify-content: flex-end
    flex-direction: row-reverse
    padding-left: 25px
  &__cir
    display: flex
    align-items: center
    justify-content: center
    width: 49px
    height: 49px
    border-radius: 10em
    border: 1px solid #fff
    background-color: $blue
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    font-size: 20px
    font-weight: 500
    text-align: center
    color: #fff
    margin-left: -26px
    &.--add
      z-index: 1
      margin-left: -15px
  +max-screen(840px)
    &__btns
      margin-left: -20px
      margin-right: -20px
      width: calc(100% + 40px)
