.eventSlider
    position: relative
    width: 100%
    height: 27vw
    max-height: 500px
    min-height: 395px
    user-select: none
    &__item
        position: absolute
        top: 0
        left: 0
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        padding-top: 20px
        padding-bottom: 50px
        background-color: #aaa
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        opacity: 0
        visibility: hidden
        z-index: 1
        transition: 0.5s
        &.--act
            opacity: 1
            visibility: visible
            z-index: 2
    &__tit
        width: 100%
        max-width: 975px
        padding: 20px
        font-size: 36px
        font-weight: 700
        text-align: center
        color: #FFFFFF
    &__control
        position: absolute
        z-index: 3
        bottom: 40px
        left: 50%
        transform: translateX(-50%)
        display: flex
        align-items: center
        justify-content: center
    &__btn
        display: flex
        align-items: center
        justify-content: center
        width: 47px
        height: 47px
        margin: 0 40px
        background: #FFFFFF
        box-shadow: 2px -2px 6px rgba(75, 75, 75, 0.25)
        border-radius: 10em
        opacity: 0.5
        transition: 0.3s
        cursor: pointer
        svg
            width: 6px
            height: 12px
        path
            fill: #2A83FB
        &:hover
            opacity: 0.8
    &__state
        min-width: 72px
        padding: 5px 15px
        font-size: 12px
        color: #fff
        text-align: center
        background: $blue
        border-radius: 10em

+max-screen(940px)
    .eventSlider
        &__tit
            font-size: 24px

+max-screen(640px)
    .eventSlider
        &__btn
            display: none