.eventActionLine
    margin-top: 15px
    margin-bottom: 40px
    &__title
        font-size: 20px
        font-weight: 500
        margin-bottom: 5px
    &__subtitle
        font-size: 12px
        color: #797E8E
    &__body
        display: flex
        justify-content: space-between
        padding-top: 15px
    &__cirList
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: row-reverse
        padding-left: 25px
    &__cir
        display: flex
        align-items: center
        justify-content: center
        width: 49px
        height: 49px
        border-radius: 10em
        border: 1px solid #fff
        background-color: $blue
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        font-size: 20px
        font-weight: 500
        text-align: center
        color: #fff
        margin-left: -26px
        &:first-child
            z-index: 1
            margin-left: -15px
    &__btn
        display: flex
        align-items: center
        justify-content: center
        width: 240px
        max-width: 100%
        height: 64px
        margin-top: 5px
        padding: 10px
        border-radius: 6px
        font-size: 16px
        font-weight: 500
        text-align: center
        text-transform: uppercase
        background-color: $darkBlue
        color: #fff
        &.--green
            background-color: $green
        &.--orange
            background-color: $orange

    +max-screen(640px)
        &__body
            flex-direction: column
            justify-content: flex-start
        &__btn
            margin-top: 20px