.friend-line
  display: flex
  flex-wrap: wrap
  margin-bottom: 20px
  user-select: none
  ._bell
    position: absolute
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    width: calc(100% - 4px)
    height: calc(100% - 4px)
    background: linear-gradient(88.21deg, #C4C4C4 -174.36%, #EAEAEA 7.12%)
    transition: 0.3s
    &:hover
      opacity: 0.8
    &__icon
      display: flex
      align-items: center
      justify-content: center
      width: calc(100% - 8px)
      height: calc(100% - 8px)
      margin: 4px
      background-color: #fff
      border-radius: 10em
      path
        fill: $blue
  &__img
    position: relative
    display: block
    width: 100px
    height: 100px
    margin-right: 20px
    margin-bottom: 20px
    cursor: pointer
    ._img
      position: absolute
      z-index: 2
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-repeat: no-repeat
      background-color: #C4C4C4
      background-position: center
      background-size: cover
      border-radius: 10em
    ._bell
      display: none
      position: relative
      width: 100%
      height: 150%
      margin-top: 50%
      padding-top: 50%
      border-bottom-left-radius: 10em
      border-bottom-right-radius: 10em

  &__wrap
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: calc(100% - 120px)
    border-bottom: 1px solid #E1E1E1
  &__body
    width: calc(100% - 185px)
    padding-right: 20px
  &__tit
    position: relative
    display: flex
    padding-left: 20px
    font-size: 18px
    &:before
      content: ''
      position: absolute
      top: 5px
      left: 0
      display: block
      width: 8px
      height: 8px
      margin-right: 10px
      border-radius: 10em
      background-color: #C4C4C4
  &__wrapBtn
    width: 185px
    float: right
    margin-bottom: 5px
  &__btn
    position: relative
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 40px
    padding: 0 20px
    margin-bottom: 10px
    font-size: 12px
    text-align: center
    color: #fff
    background-color: $blue
    border-radius: 6px
    transition: 0.3s
    cursor: pointer
    &:hover
      opacity: 0.8
      ._bell
        transform: translateX(0)
    span + ._icon
      margin-left: 10px
    ._icon
      svg
        width: 13px
        height: 13px
      path
        fill: #fff
    ._bell
      top: 2px
      right: 100%
      width: 37px
      border-top-left-radius: 10em
      border-bottom-left-radius: 10em
      transform: translateX(100%)
    ._link
      position: absolute
      z-index: 2
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: inherit
      align-items: inherit
      justify-content: inherit
      border-radius: inherit
      background-color: inherit
    &.--gray
      background-color: #E1E1E1
      color: $darkBlue

  &__status
    width: 100%
    font-size: 12px
    text-align: center
    opacity: 0.4
    margin-bottom: 10px

  &.--online
    .friend-line__tit::before
      background-color: $green

  +max-screen(740px)
    &.--req
      .friend-line__wrapBtn
        display: flex
        flex-wrap: wrap
        width: calc(100% + 20px)
        float: none
        margin-top: 15px
        margin-left: -10px
        margin-right: -10px
      .friend-line__btn
        width: calc(50% - 20px)
        margin: 5px 10px 5px
      .friend-line__status
        // width: calc(50% - 20px)
        margin-left: -10px
        margin-right: -10px

  +max-screen(540px)
    &__img
      width: 40px
      height: 40px
    &__wrap
      width: calc(100% - 60px)
      min-height: 85px
    &__btn
      span
        display: none
        & + ._icon
          margin: 0
      ._bell
        display: none
    &__body
      width: calc(100% - 90px)
    &__wrapBtn
      width: 90px
    &__status
      display: none
    &.--req
      .friend-line__body
        width: 100%
      .friend-line__btn
        height: 35px
    &.--list
      .friend-line__img
        ._bell
          display: block
          &__icon
            width: calc(100% - 14px)
            height: calc(100% - 14px)
            margin: 7px
