.authForm
  max-width: 100%
  padding: 40px
  background-color: $darkBlue
  .commonErrorMessage
    color: $red
    font-size: 12px
    text-align: center
  &__notfound
    margin-top: 10px
    color: $red
    font-size: 12px
    text-align: center
  &__success
    color: $green
    font-size: 12px
    text-align: center
  &__soc
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 30px
    path
      fill: #797E8E
  &__input
    position: relative
    width: 290px
    max-width: 100%
    margin-left: auto
    margin-right: auto
    margin-bottom: 15px
    label
      display: block
      font-size: 18px
      line-height: 22px
      color: #FFFFFF
      margin-bottom: 14px
      user-select: none
    input
      display: block
      width: 100%
      height: 50px
      padding: 11px
      background: #FFFFFF
      border: 1px solid #E7E7E7
      border-radius: 6px
      font-size: 18px
      font-weight: 500
      &::placeholder
        font-size: 14px
        color: #C4C4C4
      &:disabled
        opacity: 0.5
    ._error-message
      margin-top: 5px
      font-size: 12px
      color: $red
      display: none
    ._beforeInc
      display: flex
      align-items: center
      justify-content: center
      min-width: 50px
      height: 50px
      padding: 0 5px
      color: $darkBlue
      background: #FFFFFF
      border: 1px solid #E7E7E7
      border-right: none
      border-top-left-radius: 6px
      border-bottom-left-radius: 6px
      & + input
        border-top-left-radius: 0
        border-bottom-left-radius: 0
    ._iconEye
      position: absolute
      top: 17px
      right: 17px
      cursor: pointer
      path
        fill: #C4C4C4
      &--act
        path
          fill: $darkBlue
    ._inputWrap
      display: flex
      &.disabled
        ._beforeInc
          opacity: 0.5
    &--error
      input, ._beforeInc
        border-color: rgba($red, 0.5)
        background-color: #FDDEDE
      ._error-message
        display: block
    &--forgot
      margin-top: 59px
      margin-bottom: 62px
  &__toggleLink
    font-size: 14px
    line-height: 17px
    text-align: center
    color: #C4C4C4
    cursor: pointer
    user-select: none
    span, a
      border-bottom: 1px solid rgba(#C4C4C4, 0.8)
  &__btn
    @extend .btn
    display: flex
    align-items: center
    justify-content: center
    width: 290px
    max-width: 100%
    height: 50px
    margin: 30px auto
    padding: 11px
    border-radius: 6px
    font-size: 18px
    font-weight: 500
    line-height: 22px
    text-align: center
    &--login
      border: 3px solid $white
      background-color: transparent
      color: $white
      span:after
        background-color: $white
    &--reg
      @extend .btn--green
    &:disabled
      opacity: 0.5

  &__terms
    font-size: 14px
    line-height: 17px
    text-align: center
    color: $white
    a
      color: $blue
      border-bottom: 1px solid rgba($blue, 0.5)
  +max-screen(380px)
    padding: 40px 20px

.authPopup
  position: absolute
  top: 100%
  right: 0
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25)
  border-bottom-left-radius: 6px
  border-bottom-right-radius: 6px
  overflow: hidden
  transition: 0.3s
  opacity: 1
  visibility: visible
  &._hide
    opacity: 0
    visibility: hidden

.authPage
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $darkBlue
  overflow: auto
  &__wrap
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 375px
    max-width: 100%
    min-width: 320px
    min-height: 100%
    margin: 0 auto
    padding: 40px 0 0

.authHeader
  width: 100%
  &__logo
    display: block
    width: 122px
    height: 30px
    background: url(/assets/images/logo.svg) no-repeat center
    background-size: cover
    margin: 0 auto 72px
  &__nav
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 18px
    font-size: 18px
    line-height: 20px
    text-align: right
    color: rgba(255, 255, 255, 0.5)
    span, a
      transition: 0.3s
      &._act
        font-size: 28px
        font-weight: 900
        color: $white
  &__cross
    position: absolute
    top: 0
    right: 0
    padding: 20px
    cursor: pointer
    path
      fill: $white
  +max-screen(365px)
    &__nav
      span, a
        &._act
          font-size: 22px

