.friend-list
    display: flex
    flex-wrap: wrap
    width: calc(100% + 30px)
    margin-left: -15px
    .friend-card
        width: calc(33% - 30px)
        margin: 15px
    .searchLine
        margin: 0 15px 5px


