@charset "UTF-8"

// ----------------------------------------------------------------------
// General styles
// ----------------------------------------------------------------------

*, *:after, *:before
	box-sizing: border-box
	-webkit-tap-highlight-color: transparent


HTML, BODY
	height: 100%
	min-width: $minW
	margin: 0
	padding: 0
	
BODY
	font-family:  $baseFont
	background-color: $bodyColor
	color: $fontColor
	line-height: 1
	scroll-behavior: smooth
	overflow-y: scroll
	@extend %default-scrollbar

SELECT
	font-family: $baseFont
	border: none
	background-color: transparent
	outline: none

INPUT, TEXTAREA, BUTTON
	font-family: $baseFont
	outline: none 
	border: 0
	background-color: transparent
	padding: 0
	line-height: normal
	-webkit-appearance: none
	border-radius: 0
	&:focus
		outline: none

H1, H2, H3, H4, H5, H6, P
	vertical-align: baseline
	font-family: inherit
	font-weight: inherit
	font-style: inherit
	font-size: 100%
	padding: 0
	margin: 0

A
	color: inherit
	text-decoration: none

UL, OL
	list-style: none
	padding: 0
	margin: 0

+min-screen(640px)
	.desktopHide
		display: none !important
+max-screen(640px)
	.mobileHide
		display: none !important
		
+min-screen($profileBreakePoint)
	.desktopProfileHide
		display: none !important
+max-screen($profileBreakePoint)
	.mobileProfileHide
		display: none !important

+max-screen($profileBreakePoint)
	.no-scroll-mobile
		overflow: hidden !important
	
%no-scrollbar
	&::-webkit-scrollbar-track
		background: transparent
		visibility: hidden
	&::-webkit-scrollbar
		width: 0 
		height: 0
		visibility: hidden
	&::-webkit-scrollbar-thumb
		background: transparent
		visibility: hidden
		cursor: pointer


%default-scrollbar
	&::-webkit-scrollbar-track
		background: rgba($darkBlue, 0.15)
		border-radius: 10em
	&::-webkit-scrollbar
		width: 8px
		height: 8px
	&::-webkit-scrollbar-thumb
		background: rgba($darkBlue, 0.4)
		border-radius: 10em
		cursor: pointer

.center
	display: flex
	justify-content: center
	width: 100%
