.UiBlock
  width: 100%
  background: #f7f7f7
  border-radius: 12px
  padding: 10px 30px
  &__title
    font-family: "Proxima Nova", sans-serif
    font-size: 14px
    color: black
    text-transform: uppercase
    letter-spacing: 0.06em
    margin-bottom: 6px
