// //@font-face
// 	font-family: 'NeoSansPro'
// 	src: url('../fonts/NeoSansProRegular.eot')
// 	src: url('../fonts/NeoSansProRegular.eot') format('embedded-opentype'), url('../fonts/NeoSansProRegular.woff2') format('woff2'), url('../fonts/NeoSansProRegular.woff') format('woff'),url('../fonts/NeoSansProRegular.ttf') format('truetype'),url('../fonts/NeoSansProRegular.svg#NeoSansProRegular') format('svg')
// 	font-weight: normal

@font-face
	font-family: 'Proxima Nova'
	src: url(/assets/fonts/proximanovaregular.ttf)
	font-weight: normal
	font-style: normal
	
@font-face
	font-family: 'Proxima Nova'
	src: url(/assets/fonts/proximanovalight.ttf)
	font-weight: 300
	font-style: normal

@font-face
	font-family: 'Proxima Nova'
	src: url(/assets/fonts/proximanovasemibold.ttf)
	font-weight: 500
	font-style: normal
	
@font-face
	font-family: 'Proxima Nova'
	src: url(/assets/fonts/proximanovabold.otf)
	font-weight: 700
	font-style: normal

@font-face
	font-family: 'Proxima Nova'
	src: url(/assets/fonts/proximanovablack.otf)
	font-weight: 900
	font-style: normal