@import nav
@import description
@import slider

    
.land-page
    width: 100%
    &__wrap
        @extend .wrap
        position: relative
    .section
        &__title
            font-size: 18px
            color: #A5A7AE
            margin-bottom: 30px
            text-transform: none
            padding-top: 0
    