.land-desc
    padding: 150px 0 70px
    &__wrap
        @extend .wrap
        display: flex
        justify-content: center
        flex-direction: column
    &__subtit
        font-size: 18px
        color: #A5A7AE
        margin-bottom: 10px
    &__tit
        font-size: 24px
        text-align: center
        font-weight: bold
        margin-bottom: 15px
    &__txt
        padding: 20px
        font-size: 14px
        line-height: 17px
        white-space: pre-wrap
        background: #FFFFFF
        border: 1px solid #E7E7E7
        border-radius: 6px

    +max-screen(840px)
        padding: 40px 0
        