.land-nav
    border: 1px solid #E7E7E7
    height: 70px
    &__shadow
        left: 0
        width: 100%
        background: #FFFFFF
        box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.08)
    &__wrap
        @extend .wrap
        display: flex
        justify-content: space-around
        align-items: center
        height: 70px
        overflow: auto
        @extend %no-scrollbar
    &__arr
        display: none
    &__item
        font-size: 14px
        font-weight: 500
        padding: 10px
        white-space: pre
        cursor: pointer
        span
            font-weight: 300
            opacity: 0.7
        &.--btn
            border-radius: 6px
            min-width: 120px
            text-align: center
            &.--green
                background-color: $green
                color: #fff

    &.--fix
        .land-nav
            &__shadow
                position: fixed
                z-index: 100
                box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.08)

    +max-screen(940px)
        position: relative
        &__shadow
            padding: 0 30px
        &__wrap
            // justify-content: flex-start
            padding: 0
        &__arr
            position: absolute
            display: flex
            top: 50%
            transform: translateY(-50%)
            width: 10px
            svg
                width: 5px
            path
                fill: #A5A7AE
            &.--prev
                left: 10px
            &.--next
                right: 10px
        &__item
            margin-right: 20px


