.land-slider
    width: 100%
    padding: 40px 0
    user-select: none
    overflow: hidden
    ._wrap
        @extend .wrap
    ._tit
        font-size: 18px
        color: #A5A7AE
        margin-bottom: 40px
    ._list
        position: relative
        display: flex
        &:after
            content: ''
            position: absolute
            top: 50%
            left: 50%
            z-index: 1
            transform: translate(-50%, -50%)
            width: 100vw
            height: 70%
            background-color: #578BF8
        &__wrap
            position: relative
            z-index: 2
            display: flex
            align-items: center
            justify-content: flex-start
            width: calc(100% + 20px)
            height: 365px
            margin-left: -10px
            margin-right: -10px
            // transition: 0.3s
            
            &.--animate
                transition: 0.3s
                ._item
                    transition: 0.3s
                    &__img
                        transition: 0.3s

    ._item
        position: relative
        display: flex
        align-items: center
        justify-content: center
        min-width: calc((100% - 33% - 80px) / 3)
        height: max-content
        margin: 10px
        filter: grayscale(1)
        cursor: pointer
        // transition: 0.3s
        &:after
            content: ''
            display: block
            padding-top: 100%
        &__img
            position: absolute
            top: 0
            left: 0
            z-index: 1
            width: 100%
            height: 100%
            background-repeat: no-repeat
            background-position: center
            background-size: cover 
            border-radius: 4px
            overflow: hidden
            cursor: pointer
            // transition: 0.3s
        &__icon
            position: absolute
            top: 0
            right: 0
            z-index: 2
            padding: 10px
            opacity: 0
            transition: 0.3s
            cursor: pointer
            path
                fill: #fff
        &:hover
            ._item__icon
                opacity: 1
        &.--active
            min-width: 33%
            filter: grayscale(0)
            ._item__icon
                opacity: 1
        &.--hide
            opacity: 0
            visibility: hidden
    ._nav
        display: flex
        align-items: center
        &__wrap
            display: flex
            align-items: center
            justify-content: center
            width: calc(100% - 33% - 10px)
            margin-left: auto
        &__arr
            display: flex
            align-items: center
            justify-content: center
            width: 30px
            height: 30px
            cursor: pointer
            svg
                width: 8px
            path
                fill: #A5A7AE
        &__state
            font-size: 18px
            font-weight: 500
            margin: 0 40px

    +max-screen(840px)
        padding: 0
        ._wrap
            &:after
                content: ''
                position: absolute
                bottom: 0
                left: 0
                z-index: 1
                width: 100%
                height: calc(100% - 80px)
                background-color: #578BF8
        ._tit
            margin-bottom: 0
        ._list
            z-index: 2
            transform: translateX(32%)
            &:after
                content: none
            &__wrap
                align-items: flex-end
                height: 335px
        ._item
            z-index: 2
            opacity: 0
            visibility: hidden
            &__img
                top: auto
                bottom: 50%
                left: 50%
                transform: translate(-50%, 50%)
            &.--prev,
            &.--next,
            &.--active
                opacity: 1
                visibility: visible
            &.--active
                z-index: 1
                ._item__img
                    bottom: calc(50% + 80px)
                    width: 310px
                    height: 310px
        ._nav
            position: relative
            z-index: 2
            padding-top: 15px
            padding-bottom: 15px
            &__wrap
                width: 100%
            &__state
                color: #fff
            &__arr
                path
                    fill: #fff

    +max-screen(640px)
        ._item
            &__img
                width: 75px
                height: 75px
            &.--active
                ._item__img
                    bottom: calc(50% + 100px)
                    width: 280px
                    height: 280px

