.profileHeader
    width: $cnt_w
    padding-right: $offset
    margin-bottom: 30px
    &__wrap
        position: relative
        padding-bottom: 20px
    &__soc
        position: absolute
        top: 0
        right: 0
        display: flex
        a
            display: flex
            align-items: center
            justify-content: center
            border-radius: 10em
            width: 32px
            height: 32px
            margin-right: 15px
            transition: 0.3s
            div
                display: flex
                align-items: center
                justify-content: center
            &:last-child
                margin-right: 0
            path
                fill: $white
            &:hover
                opacity: 0.7
    &__icon
        margin-right: 16px
        svg
            width: 33px
            height: 33px
        path
            fill: $darkBlue
    &__tit
        display: flex
        align-content: center
        flex-wrap: wrap
        font-size: 32px
        font-weight: 900
        line-height: 39px
    &__subtit
        font-size: 12px
        color: #6F7478
    &__gamelist
        width: 100%
        ul
            display: flex
            align-items: center
            user-select: none
            padding: 13px 0
        li
            position: relative
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            padding: 20px 0
            margin-right: 15px
            cursor: pointer
            &:last-child
                margin-right: 0
            path
                fill: $darkBlue
            &._stroke
                path
                    stroke: $darkBlue
                    stroke-width: 1px
            span
                position: absolute
                bottom: 0
                left: 50%
                display: block
                padding: 3px 6px
                font-size: 10px
                color: #797E8E
                background: #FFFFFF
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14)
                border-radius: 4px
                white-space: pre
                opacity: 0
                visibility: hidden
                transform: translate(-50%, 10px)
                transition: 0.3s
            &:hover
                path
                    fill: $yellow !important
                &._stroke
                    path
                        stroke: $yellow !important
                span
                    opacity: 1
                    visibility: visible
                    transform: translate(-50%, 0)

    &.--borderBottom
        border-bottom: 1px solid #E1E1E1
    &.--lowerDown
        margin-bottom: 0
        .profileHeader__wrap
            padding-bottom: 0

    +max-screen(940px)
        padding-right: 0
        
    +max-screen(640px)
        &__tit
            span
                font-size: 24px
                line-height: 29px
        &__icon
            svg
                margin-right: 7px

