.profileContent
    width: $cnt_w
    padding-right: $offset
    &__wrap
        width: 100%
        height: 100%
    &__tit
        font-size: 18px
        line-height: 22px
        font-weight: 500
        margin-bottom: 20px
    .card-list__item
        margin: 0 10px 15px
    hr
        border: none
        border-bottom: 1px solid #E1E1E1
