.profileContent-action
    display: flex
    width: calc(100% + 14px)
    margin-left: -7px
    margin-right: -7px
    ._btn
        @extend .btn
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 64px
        margin-left: 7px
        margin-right: 7px
        padding: 0 20px
        font-size: 16px
        font-weight: 500
        line-height: 19px
        text-transform: uppercase
        text-align: center
        border-radius: 6px
        &__icon
            margin-left: auto
            path
                fill: #fff
        &.--green
            @extend .btn--green
        &.--orange
            @extend .btn--orange
        &.--darkBlue
            @extend .btn--darkBlue
        &.--orange
            @extend .btn--orange
        &.--disabled
            opacity: 0.5

    +max-screen(640px)
        flex-wrap: wrap
        ._btn
            margin-bottom: 15px
