.profileContentBooking
    border-bottom: 1px solid #E7E7E7
    padding-bottom: 40px
    ._fromTo
        display: flex
        flex-wrap: wrap
        margin-bottom: 40px
        &__item
            margin-right: 20px
            margin-bottom: 20px
        &__tit
            font-size: 12px
            line-height: 15px
            letter-spacing: 6%
            text-transform: uppercase
            color: #8A8F9D
            margin-bottom: 12px
        &__label
            margin-left: -3px
    ._price
        display: flex
        &__txt
            margin-right: 30px
            white-space: pre
        &__tit
            font-size: 12px
            line-height: 15px
            letter-spacing: 6%
            text-transform: uppercase
            color: #8A8F9D
            margin-bottom: 12px
        &__val
            display: flex
            align-items: flex-end
            font-size: 36px
            line-height: 29px
            font-weight: 700
            span
                margin-top: auto
                margin-left: 5px
                font-size: 18px
                line-height: 20px
        &__btn
            display: flex
            align-items: center
            justify-content: center
            width: 344px
            max-width: 100%
            height: 55px
            background: #F68623
            border-radius: 6px
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
            font-size: 16px
            text-align: center
            color: #FFFFFF
            cursor: pointer
            transition: 0.3s
            &:hover
                opacity: 0.7