.court
    padding: 30px 0
    &__wrap
        width: 100%
        max-width: 445px
        margin-left: auto
        margin-right: auto
    &__header
        display: flex
        align-items: center
        justify-content: space-between
        padding-bottom: 20px
    &__tit
        font-size: 14px
        font-weight: 500
        color: rgba(65, 70, 88, 0.7)
    &__subtit
        font-size: 12px
        font-style: italic
        color: rgba(0, 0, 0, 0.4)
    &__court
        position: relative
        display: flex
        align-items: center
        justify-content: center
        ul
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: flex
            align-items: center
            justify-content: center
            flex-wrap: wrap
            width: 295px
            height: 155px
        li
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            width: 33%
        .tag
            margin-top: -7px
    &__courtImg
        max-width: 100%
    &__avatar
        display: flex
        align-items: center
        justify-content: center
        width: 44px
        height: 44px
        border-radius: 10em
        overflow: hidden
        border: 2px solid $green 
        font-size: 14px
        text-align: center
        color: rgba(42, 131, 251, 0.7)
        img
            border-radius: 10em
            max-width: 90%
    &__act
        display: flex
        align-items: center
        justify-content: center
        margin-top: 16px
    &__btn
        @extend .btn
        @extend .btn--gray
        display: flex
        align-items: center
        justify-content: center
        width: min-content
        height: 48px
        padding: 10px 30px
        border-radius: 10px
        margin-left: 6px
        margin-right: 6px
        margin-bottom: 15px
        font-size: 12px
        font-weight: 500
        text-transform: uppercase
        color: $white
        white-space: pre
        &.--darkBlue
          @extend .btn--darkBlue
        span + div
            svg
                margin-left: 15px
        path
            fill: $white
            stroke: $white

    +max-screen(640px)
        padding-bottom: 22px
        &__act
            flex-wrap: wrap
        &__btn
            justify-content: space-between
            width: 100%
            height: 44px
            padding: 16px 24px
            margin-left: 0
            margin-right: 0
            margin-bottom: 8px
