.profileContent-list
    ._text
        .--green
            color: $green
        .--darkBlue
            color: $darkBlue
        .--orange
            color: $orange
        .--red
            color: $red
    ._img
        float: left
        margin-right: 17px
        display: flex
        align-items: center
        justify-content: center
        width: 52px
        height: 52px
        border-radius: 6px
        overflow: hidden
        img
            max-width: 100%
        & + ._text
            max-width: calc(100% - #{52 + 17}px)
    ._val
        font-size: 14px
        font-weight: 500
        line-height: 17px
        margin-bottom: 2px
        a, span
            border-bottom: 1px solid #E1E1E1
    ._tit
        font-size: 12px
        line-height: 15px
        color: #797E8E
    ._price
        position: relative
        width: min-content
        margin-top: 5px
        font-size: 32px
        line-height: 39px
        font-weight: 900
        padding-right: 6px
        &:after
            content: '₽'
            position: absolute
            top: 5px
            left: 100%
            font-size: 17px
            line-height: 20px
            font-weight: bold
            color: inherit

    &.--params
        display: flex
        margin: 30px 0
        li
            display: flex
            align-items: center
        ._val
            font-size: 18px
            line-height: 22px

    &.--options
        display: flex
        margin: 22px 0
        li
            display: flex
            align-items: center
            margin-right: 36px
            &:last-child
                margin-right: 0

    &.--lastBoard
        li
            &:last-child
                position: relative
                padding-right: 0
                padding-left: 25px
                margin-left: auto
                width: calc(100% - 240px)
                &:after
                    content: ''
                    position: absolute
                    top: calc(50% - 16px)
                    left: 0
                    display: block
                    width: 1px
                    height: 32px
                    background-color: rgba(0, 0, 0, 0.1)


    +max-screen(640px)
        flex-wrap: wrap
        li
            margin-bottom: 15px
        &.--params
            margin: 20px 0
            li
                width: 100%
                padding-right: 0
                margin-right: 0
                &:after
                    content: none
                &:last-child
                    margin-bottom: 0
        &.--options
            margin: 20px 0 5px
        &.--lastBoard
            li
                &:last-child
                    width: 100% !important
                    margin-left: 0 !important
                    padding-left: 0 !important
                    &:after
                        content: none