.profileContent-state
    display: flex
    align-items: center
    ._content
        margin-right: auto
    ._info
        font-size: 14px
        line-height: 17px
        color: #797E8E
        font-style: italic
        cursor: pointer
        max-width: 200px
        span
            border-bottom: 1px solid #E1E1E1

    +max-screen(640px)
        flex-wrap: wrap
        ._content
            width: 100%
        ._info
            margin-bottom: 20px