.GamePage
  &__Wrap
    max-width: 1090px
    margin: auto
  &__Menu
    margin-top: 37px
    margin-bottom: 29px
    border-top: 1px solid #e7e7e7
    border-bottom: 1px solid #e7e7e7
    ul
      list-style: none
      display: flex
      width: 100%
      justify-content: space-evenly
      font-size: 14px
      font-family: 'Proxima Nova', sans-serif
      color: #414658
      height: 60px
      align-items: center
      font-weight: 500
      span
        color: #242424
  &__Help
    width: 367px
    font-size: 12px
    line-height: 15px
    color: #797E8E
    padding: 29px 0 14px
    p
      margin-bottom: 15px
  &__TopGrid__SmallBlock
    padding: 14px 15px
    position: relative
    h3
      font-size: 14px
      font-weight: 500
      color: #414658
      margin-bottom: 15px
      div
        display: inline-block
        margin-right: 10px
    p
      font-size: 12px
      line-height: 20px
      margin-bottom: 15px
    a
      font-size: 12px
      color: #2A83FB

.h100
  height: 100%

.CommandWidget
  display: flex
  align-items: stretch
  padding-left: 20px
  div:first-child
    flex: 1
