$w: 330px
$offset: 24px
$cnt_w: calc(100% - #{$w})

@import ./header/__header

@import ./side/__side

@import ./content/__content
@import ./content/_booking
@import ./content/_list
@import ./content/_court
@import ./content/_state
@import ./content/_action

@import profile-edit
@import profile-input
@import profile-input-soc
@import profile-sports
@import profile-edit-avatar
@import profile-crop-avatar

.profile
    width: 100%
    padding-top: 42px
    padding-bottom: 42px
    &__wrap
        @extend .wrap
        position: relative

+max-screen($profileBreakePoint)
    .profile
        padding-top: 30px
        padding-bottom: 85px
        &__wrap
            min-height: 0 !important
        &--edit
            .profileSide
                display: none
    .profileSide
        position: static
        width: 100%
        margin-bottom: 20px
    .profileHeader
        width: 100%
        margin-bottom: 20px
        &__wrap
            padding-bottom: 0
            border: none
        &__tit
            font-size: 24px
            line-height: 29px
            margin-bottom: 5px
        &__gamelist
            ul
                padding-top: 0
        &__soc
            position: static
            margin-top: 10px
    .profileContent
        width: 100%
        padding-right: 0
