.profileEdit
    width: $cnt_w
    padding-right: $offset
    &__wrap
        width: 100%
        height: 100%
        max-width: 100%
        ._error-message
            max-width: 465px
            text-align: right
            color: $red
    &__cross
        display: none
    &__announcement
        display: block
        font-size: 16px
        font-weight: bold
        line-height: 20px
        color: $red
        text-align: center
    &__title
        display: block
        font-size: 12px
        line-height: 15px
        letter-spacing: 0.06em
        text-transform: uppercase
        color: #8A8F9D
        margin-bottom: 25px
        +max-screen(500px) 
            margin-bottom: 15px
    &__form
        width: 100%
        max-width: 465px
        margin-bottom: 18px
        .profileInput
            ._label
                width: calc(100% - 286px)
        .profileEdit__btn
            margin-top: 35px
            margin-left: auto

    &__btn
        @extend .btn
        &--darkBlue
            @extend .btn--darkBlue
        &--red
            @extend .btn--red
        &--green
            @extend .btn--green
        &--orange
            @extend .btn--orange 
        &:disabled, &.disabled
            cursor: default
            opacity: 0.5
        border-radius: 6px
        display: flex
        align-items: center
        justify-content: center  
        width: min-content
        min-width: 215px
        padding: 12px  

    +max-screen($profileBreakePoint)
        position: fixed
        z-index: 1000
        top: 0
        right: 0
        display: flex
        justify-content: center
        width: 100%
        height: 100%
        padding: 60px 20px 
        background-color: $white
        overflow: auto
        &__wrap
            width: fit-content
            height: fit-content
        &__cross
            display: block
            position: absolute
            top: 0
            right: 0
            padding: 20px
            cursor: pointer
            path
                fill: $darkBlue
        &__btn
            width: 100%
   
