.profileInputSoc
    user-select: none
    ._item
        display: flex
        align-items: center
        width: 100%
    ._icon
        display: flex
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        margin-bottom: 12px
        border-radius: 6px
        margin-right: 10px
        overflow: hidden
        path
            fill: $white
    ._title
        min-width: 127px
        margin-bottom: 12px
        font-size: 12px
        line-height: 15px
        color: #797E8E
    ._btn
        display: flex
        align-items: center
        justify-content: center
        width: 215px
        height: 40px
        padding: 10px
        margin-bottom: 12px
        border-radius: 6px
        font-size: 16px
        line-height: 19px
        cursor: pointer
        &--tied
            color: $blue
            font-weight: 500
        &--totie
            color: $darkBlue
            border: 1px solid #E7E7E7
            font-weight: 500
        &--tountie
            color: $white
            background-color: $red
    
    ._errorBlock
        width: 390px
        margin-top: 20px

    +max-screen($profileBreakePoint)
        width: 332px 
        max-width: 100%
        min-width: 260px
        ._title
            min-width: 115px
        ._btn
            width: calc(100% - 165px)
