.profileEditAvatar
    user-select: none
    ._preview-canvas
        width: 64px
        height: 64px
    ._preview
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        width: 367px
        max-width: 100%
        min-height: 217px
        height: auto
        border: 1px dashed $blue
        border-radius: 10px
        padding: 17px
        margin-bottom: 45px
        cursor: pointer
        overflow: hidden
        img
            max-width: 100%
        &--img
            padding: 0
        &--small
            width: 64px
            height: 64px
            min-width: 64px
            min-height: 64px
            border-radius: 10em
            margin-left: 15px
            padding: 0
            img
                min-width: 100%
    ._icon
        display: inline-block
        margin-bottom: 15px
    ._text
        font-size: 12px
        line-height: 15px
        text-align: center
        color: #797E8E
    ._input
        display: none
    ._present
        position: relative
        display: flex
        flex-direction: row-reverse
        align-items: flex-end
        justify-content: flex-end
        width: min-content
        max-width: 100%
    ._cross
        position: absolute
        top: 0
        right: 0
        cursor: pointer
        path
            fill: #C4C4C4
    ._btns
        display: flex
        flex-wrap: wrap
        margin-left: -5px
        margin-right: -5px
        .profileEdit__btn
            margin: 5px

    +max-screen($profileBreakePoint)
        width: min-content
        max-width: 100%
