// SASS variables for normal drag handle and bar size.
// Override in your scss file by setting these variables FIRST, then including this file.
$drag-handle-width: 9px !default
$drag-handle-height: 9px !default
$drag-bar-size: 6px !default

// Query to kick us into "mobile" mode with larger drag handles/bars.
//  If you're supporting modern browsers, you can use "pointer: coarse",
//  see: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer
$mobile-media-query: "(max-width: 768px), (pointer: coarse)" !default

// Mobile handle/bar sizes.  Override as above.
$drag-handle-mobile-width: $drag-handle-width + 8 !default
$drag-handle-mobile-height: $drag-handle-height + 8 !default
$drag-bar-mobile-size: $drag-bar-size + 8 !default

// Handle color/border.
$drag-handle-background-colour: rgba(0,0,0,0.8) !default
$drag-handle-border: 1px solid rgba(255,255,255,0.7) !default
$dashed-color: #2A83FB

.ReactCrop 
  position: relative
  display: inline-block
  cursor: crosshair
  overflow: hidden
  max-width: 100%
  background-color: #000

  &:focus 
    outline: none


  &--disabled 
    cursor: inherit


  &--crop-invisible &__image 
    opacity: 0.5


  &__crop-selection 
    position: absolute
    top: 0
    left: 0
    transform: translate3d(0,0,0)
    box-sizing: border-box
    cursor: move
    box-shadow: 0 0 0 9999em rgba(0,0,0,.5)

    .ReactCrop--disabled & 
      cursor: inherit
  

    border: 1px dashed $dashed-color
    border-radius: 10px



  &__drag-handle 
    position: absolute
    width: $drag-handle-width
    height: $drag-handle-height
    //background-color: $drag-handle-background-colour
    //border: $drag-handle-border
    box-sizing: border-box

    // This stops the borders disappearing when keyboard
    // nudging.
    outline: 1px solid transparent


  .ord-nw 
    top: 0
    left: 0
    margin-top: -(ceil($drag-handle-height / 2))
    margin-left: -(ceil($drag-handle-width / 2))
    cursor: nw-resize

  .ord-n 
    top: 0
    left: 50%
    margin-top: -(ceil($drag-handle-height / 2))
    margin-left: -(ceil($drag-handle-width / 2))
    cursor: n-resize

  .ord-ne 
    top: 0
    right: 0
    margin-top: -(ceil($drag-handle-height / 2))
    margin-right: -(ceil($drag-handle-width / 2))
    cursor: ne-resize

  .ord-e 
    top: 50%
    right: 0
    margin-top: -(ceil($drag-handle-height / 2))
    margin-right: -(ceil($drag-handle-width / 2))
    cursor: e-resize

  .ord-se 
    bottom: 0
    right: 0
    margin-bottom: -(ceil($drag-handle-height / 2))
    margin-right: -(ceil($drag-handle-width / 2))
    cursor: se-resize

  .ord-s 
    bottom: 0
    left: 50%
    margin-bottom: -(ceil($drag-handle-height / 2))
    margin-left: -(ceil($drag-handle-width / 2))
    cursor: s-resize

  .ord-sw 
    bottom: 0
    left: 0
    margin-bottom: -(ceil($drag-handle-height / 2))
    margin-left: -(ceil($drag-handle-width / 2))
    cursor: sw-resize

  .ord-w 
    top: 50%
    left: 0
    margin-top: -(ceil($drag-handle-height / 2))
    margin-left: -(ceil($drag-handle-width / 2))
    cursor: w-resize


  // Use the same specificity as the ords above but just
  // come after.
  &__disabled &__drag-handle 
    cursor: inherit


  &__drag-bar 
    position: absolute

    &.ord-n 
      top: 0
      left: 0
      width: 100%
      height: $drag-bar-size
      margin-top: -($drag-bar-size / 2)
  
    &.ord-e 
      right: 0
      top: 0
      width: $drag-bar-size
      height: 100%
      margin-right: -($drag-bar-size / 2)
  
    &.ord-s 
      bottom: 0
      left: 0
      width: 100%
      height: $drag-bar-size
      margin-bottom: -($drag-bar-size / 2)
  
    &.ord-w 
      top: 0
      left: 0
      width: $drag-bar-size
      height: 100%
      margin-left: -($drag-bar-size / 2)
  


  &--new-crop &__drag-bar,
  &--new-crop &__drag-handle,
  &--fixed-aspect &__drag-bar 
    display: none


  &--fixed-aspect &__drag-handle.ord-n,
  &--fixed-aspect &__drag-handle.ord-e,
  &--fixed-aspect &__drag-handle.ord-s,
  &--fixed-aspect &__drag-handle.ord-w 
    display: none


  @media #{$mobile-media-query}
    &__crop-selection:after
      content: ""
      position: absolute
      width: 100%
      border-radius: 50%
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      height: auto
      border: 1px dashed $dashed-color
      padding-top: 100%


  &__drag-handle 
    width: $drag-handle-mobile-width
    height: $drag-handle-mobile-height


  .ord-nw 
    margin-top: -(ceil($drag-handle-mobile-height / 2))
    margin-left: -(ceil($drag-handle-mobile-width / 2))

  .ord-n 
    margin-top: -(ceil($drag-handle-mobile-height / 2))
    margin-left: -(ceil($drag-handle-mobile-width / 2))

  .ord-ne 
    margin-top: -(ceil($drag-handle-mobile-height / 2))
    margin-right: -(ceil($drag-handle-mobile-width / 2))

  .ord-e 
    margin-top: -(ceil($drag-handle-mobile-height / 2))
    margin-right: -(ceil($drag-handle-mobile-width / 2))

  .ord-se 
    margin-bottom: -(ceil($drag-handle-mobile-height / 2))
    margin-right: -(ceil($drag-handle-mobile-width / 2))

  .ord-s 
    margin-bottom: -(ceil($drag-handle-mobile-height / 2))
    margin-left: -(ceil($drag-handle-mobile-width / 2))

  .ord-sw 
    margin-bottom: -(ceil($drag-handle-mobile-height / 2))
    margin-left: -(ceil($drag-handle-mobile-width / 2))

  .ord-w 
    margin-top: -(ceil($drag-handle-mobile-height / 2))
    margin-left: -(ceil($drag-handle-mobile-width / 2))


  &__drag-bar.ord-n 
    height: $drag-bar-mobile-size
    margin-top: -($drag-bar-mobile-size / 2)

  &__drag-bar.ord-e 
    width: $drag-bar-mobile-size
    margin-right: -($drag-bar-mobile-size / 2)

  &__drag-bar.ord-s 
    height: $drag-bar-mobile-size
    margin-bottom: -($drag-bar-mobile-size / 2)

  &__drag-bar.ord-w 
    width: $drag-bar-mobile-size
    margin-left: -($drag-bar-mobile-size / 2)




