.profileInput
  margin-bottom: 12px
  display: flex
  ._label
    padding-top: 15px
    padding-right: 12px
    font-size: 12px
    text-align: right
    color: #797E8E
    &:after
      content: ':'
  ._input
    position: relative
    display: flex
    flex-wrap: wrap
    width: 286px
    max-width: 100%
    ._inputWrap
      width: 100%
    input, textarea, select
      -webkit-appearance: none
      position: relative
      z-index: 2
      width: 100%
      height: 40px
      padding: 10px 13px
      background: #FFFFFF
      border: 1px solid #E7E7E7
      border-radius: 6px
      font-size: 16px
      font-weight: 500
      line-height: 19px
      color: $darkBlue
      transition: 0.3s
      &:focus
        border-color: $blue
      &::placeholder
        color: #C4C4C4
        font-weight: normal
      &:disabled
        opacity: 0.5
    ._beforeInc
      display: flex
      align-items: center
      justify-content: center
      min-width: 40px
      height: 40px
      padding: 0 5px
      color: $darkBlue
      font-weight: 500
      background: #FFFFFF
      border: 1px solid #E7E7E7
      border-right: none
      border-top-left-radius: 6px
      border-bottom-left-radius: 6px
      & + input
        border-top-left-radius: 0
        border-bottom-left-radius: 0
    ._inputWrap
      display: flex
      &.disabled
        ._beforeInc
          opacity: 0.5
    textarea
      height: 100px
      resize: none
    ._error-message
      display: none
      font-size: 12px
      color: $red
      margin-top: 5px
    &.--error
      ._error-message
        display: block
      input, textarea, select, ._beforeInc
        border-color: $red
  .--adding
    width: 400px
  ._checkRadio
    @extend .checkRadio
    width: 286px
    margin-left: -10px
    margin-right: -10px
    max-width: 100%
    label
      margin: 13px 10px
      margin-right: 20px

  ._btn
    position: absolute
    z-index: 3
    top: 0
    right: 0
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    & + input,
    & + .DayPickerInput input
      padding-right: 40px
    &--arr
      svg
        width: 14px
        height: 14px
      path
        fill: #414658
        stroke: none

  +max-screen($profileBreakePoint)
    flex-wrap: wrap
    margin-bottom: 8px
    width: 286px
    max-width: 100%
      display: none
    ._label
      width: 100% !important
      padding: 0
      padding-left: 13px
      margin-bottom: 6px
      text-align: left
    &--mobileFill
      width: 100%
      ._input
        width: 100%
    ._btn
      &--arr
        display: none
