.profileSports
  padding-bottom: 15px
  ._header
    display: flex
    justify-content: flex-end
    margin-bottom: 10px
  ._paramTit
    width: 135px
    font-size: 12px
    line-height: 15px
    color: #797E8E
    text-align: center
  ._item
    position: relative
    display: flex
    justify-content: flex-end
    align-items: center
    margin-bottom: 30px
  ._name
    display: flex
    align-items: center
    margin-right: auto
    font-size: 16px
    font-weight: 500
    line-height: 19px
    svg
      margin-right: 10px
  ._param
    display: flex
    align-items: center
    justify-content: center
    width: 135px
    text-align: center
    ._paramTit
      display: none
  ._select
    text-align: center
    span
      font-size: 12px
      line-height: 15px
      border-bottom: 1px solid rgba($blue, 0.5)
      color: $blue
  ._input
    width: 60px
    height: 24px
    font-size: 12px
    line-height: 15px
    text-align: center
    background: #FFFFFF
    border: 1px solid #E7E7E7
    border-radius: 6px
    transition: 0.3s
    &:focus
      border-color: $blue
  ._cross
    position: absolute
    top: 0
    right: 0
    cursor: pointer
    &:hover
      path
        fill: $red

  ._paramPopup__toggle
    display: none

  ._footer
    display: flex
    justify-content: flex-end
  ._afterLink
    display: flex
    font-size: 16px
    line-height: 19px
    border-bottom: 1px solid rgba($blue, 0.5)
    color: $blue
    margin-left: auto
    cursor: pointer

  +max-screen($profileBreakePoint)
    ._header
      ._paramTit
        display: none
    ._item
      flex-wrap: wrap
      justify-content: space-between
      border-bottom: 1px solid #E7E7E7
      padding-bottom: 15px
      margin-bottom: 15px
    ._name
      width: 100%
      margin-bottom: 10px
    ._param
      position: relative
      width: auto
      flex-direction: column
      ._paramTit
        display: block
        width: 100%
        margin-bottom: 10px
      ._select
        ul
          display: none

    ._paramPopup
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      overflow: auto
      background-color: #fff
      z-index: 1000
      justify-content: flex-start
      padding: 60px 20px
      text-align: left
      &__toggle
        display: block
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 100%
        opacity: 0
        cursor: pointer
        user-select: none
        path
          fill: $darkBlue
      ._paramPopup__toggle
        width: auto
        height: auto
        padding: 20px
        opacity: 1
      ._paramTit
        text-align: left
        font-size: 12px
        letter-spacing: 0.06em
        text-transform: uppercase
      ._select
        width: 100%
        margin-top: 30px
        span
          display: none !important
        ul
          display: block
          position: static !important
          width: 100% !important
          height: auto !important
          max-height: max-content !important
          box-shadow: none !important
          border: none !important
          padding: 0 !important
          margin: 0 !important
          transform: none !important
          transition: 0s !important
        li
          opacity: 1 !important
          visibility: visible !important
          transform: none !important
          transition: 0s !important
          svg
            margin-bottom: 15px !important
          div
            font-size: 24px !important
            margin-bottom: 15px !important

.profileInput + .profileSports
  margin-top: 20px

.profileSportSelect
  margin-bottom: 30px
  &__inputBlock
    display: flex
    position: relative
    flex-wrap: wrap

  &__cross
    display: none
    position: absolute
    top: -60px
    right: 0
    padding: 20px
    cursor: pointer
    z-index: 3
    path
      fill: $darkBlue
  &__btn
    display: none
    width: 215px
    margin-left: auto
    margin-right: auto
    margin-top: 15px

  &__btnBig
    display: flex
    margin-left: 15px
    border-radius: 6px
    align-items: center
    justify-content: center
    width: min-content
    min-width: 150px
    height: 40px
    padding: 10px
    color: #fff
    background: #27AE60
    font-size: 16px
    &:disabled
      opacity: 0.5

+max-screen($profileBreakePoint)
  .profileSportSelect
    display: none
    margin-bottom: 0
    &__btnBig
      margin-top: 20px
    &__inputBlock
      width: 100%
    &.--show
      display: block
      position: fixed
      z-index: 1000
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: #fff
      padding: 60px 20px
      overflow: auto
      .profileSportSelect__cross,
      .profileSportSelect__btn
        display: flex
      ._label
        font-size: 16px
        color: $darkBlue
        font-weight: 500
        margin-bottom: 20px
        &:after
          content: none
      ._input
        flex-wrap: wrap
      .inputTip
        position: relative
        top: auto
        left: auto
        opacity: 1
        visibility: visible
        height: max-content
        overflow: auto
        max-height: calc(100vh - 245px)
        box-shadow: none
        border: none
        margin-top: 30px
        &:before
          content: none
        &__list
          width: 100%
          border-bottom: 1px solid #E7E7E7
          padding: 0
          transition: 0s !important
        li
          opacity: 1
          visibility: visible
          transform: none
          transition: 0.3s color !important
