.checkRadio
    position: relative
    display: flex
    flex-wrap: wrap
    margin-left: -5px
    margin-right: -5px
    max-width: calc(100% + 10px)
    &.--line
        flex-direction: column
    label
        display: flex
        align-items: center
        margin: 5px
        user-select: none
        cursor: pointer
        &:last-child
            margin-right: 0
        &.disabled
            opacity: 0.5
    i
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 12px
        min-width: 12px
        height: 12px
        margin-right: 5px
        transition: 0.3s
        &:after
            content: ''
            position: absolute
            z-index: 2
            top: 0
            right: 0
            display: block
            width: 100%
            height: 100%
            transition: 0.3s
    span
        opacity: 0.5
        transition: 0.3s
    input
        display: none
    input[type="radio"]
        & + i
            border: 1px solid $darkBlue
            background-color: $darkBlue
            opacity: 0.5
            border-radius: 10em
            overflow: hidden
            &:after
                border: 5px solid $white
                border-radius: 10em
            svg
                display: none
        &:checked + i
            opacity: 1
            &:after
                border-width: 2px
            & + span
                opacity: 1
    input[type="checkbox"]
        & + i
            border: 1px solid $green
            background-color: $green
            border-radius: 1px
            &:after
                background-color: $green
            svg
                position: relative
                z-index: 1
                width: 8px
            path
                fill: #fff
                stroke: #fff
        &:checked + i
            &:after
                width: 0
