.uiSelect
    position: relative
    display: flex
    width: 100%
    user-select: none
    &__arr
        position: absolute
        z-index: 5
        bottom: 1px
        right: 0
        display: flex
        align-items: center
        justify-content: center
        width: 45px
        height: 44px
        border-radius: 4px
        background: rgba(244, 247, 249, 0.4)
        border-left: 1px solid #E9EFF4
        cursor: pointer
        transition: 0.3s
        svg
            transform: rotate(0deg)
            transition: 0.3s
        path
            fill: #A6B2C4
    &__input
        position: relative
        z-index: 4
        width: 100%
        input
            width: 100%
            padding-right: #{45px + 20px}
    &__scroll
        width: 100%
        max-height: 40vh
        margin-top: 5px
        overflow: auto
        @extend %default-scrollbar
    &__list
        position: absolute
        z-index: 1
        top: calc(100% - 5px)
        left: 1px
        width: calc(100% - 2px)
        max-height: 50vh
        border-bottom: 1px solid #E9EFF4
        border-left: 1px solid #E9EFF4
        border-right: 1px solid #E9EFF4
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5)
        border-bottom-left-radius: 4px
        border-bottom-right-radius: 4px
        transition: 0.3s
        overflow: auto
        .tree
            padding-top: 25px
        ul
            padding: 15px
            font-size: 13px
            line-height: 27px
            color: #323C47
            background-color: #fff
        li
            display: flex
            align-items: center
            transition-duration: 0.3s
            white-space: pre
            cursor: pointer
            padding: 5px
            svg
                width: 11px
                margin-right: 0
                margin-left: -11px
                opacity: 0
                visibility: hidden
                transition: 0.3s, 0.2s opacity
            path
                fill: #323C47
            div
                display: inline-block
                transition: 0.3s color, 0.3s border
                border-bottom: 1px solid transparent
                transition: 0.3s
            &.--empty
                cursor: default
                svg
                    display: none
            &.--act
                div
                    // color: $green
                svg
                    margin-right: 10px
                    margin-left: 0
                    opacity: 1
                    visibility: visible
                path
                    // fill: $green
    &.--hide
        z-index: 1
        .uiSelect__list
            opacity: 0
            visibility: hidden
            transform: translateY(-45px)
    &.--show
        z-index: 2
        .uiSelect__list
            opacity: 1
            visibility: visible
            transform: translateY(0)
        .uiSelect__arr
            border-color: $blue
            svg
                transform: rotate(180deg)
            path
                fill: $blue
        input
            border-color: $blue !important