.UiButton
  border-radius: 100px
  font-family: "Proxima Nova", sans-serif
  color: white
  display: flex
  align-items: center
  cursor: pointer
  div
    display: inline-block
  div + span,
  span + div
    margin-left: 16px
  path
    fill: white
  &.--iconOutline path
    fill: none
    stroke: #ffffff
  &.--uppercase
    text-transform: uppercase
  &.--bold
    font-weight: bold
  &.--small
    height: 38px
    padding: 0 22px
    font-size: 10px
  &.--medium
    height: 42px
    padding: 0 25px
    font-size: 12px
    div > svg
      height: 20px
      width: 20px
  &.--large
    height: 48px
    padding: 0 38px
    font-size: 16px
  // Colors
  &.--blue
    background: #2A83FB
  &.--darkGray
    background: #414658
  &.--green
    background: #27AE60
  &.--transparentWhite
    background: transparent
    border: 1px solid #ffffff
